Repository gms1/HomeOfThings: changes, and which Codecov flags are due for each by the changed paths.
All: nestjs-logger, nestjs-config

codecov.yml:

flags:
  nestjs-logger:
    paths:
      - projects/node/libs/nestjs-logger
  nestjs-config:
    paths:
      - projects/node/libs/nestjs-config

# To see status checks based on flags
coverage:
  status:
    project:
      nestjs-logger:
        flags:
          - nestjs-logger
      nestjs-config:
        flags:
          - nestjs-config

codecov
  projects/node/libs/nestjs-config/README.md
  projects/node/libs/nestjs-logger/README.md
Due: nestjs-logger, nestjs-config

docs
  projects/node/libs/nestjs-config/README.md
  projects/node/libs/nestjs-logger/README.md
Due: nestjs-logger, nestjs-config

nestjs-config: tests
  projects/node/libs/nestjs-config/src/lib/config.service.spec.ts
  projects/node/libs/nestjs-config/src/lib/config.service.ts
Due: nestjs-config

nestjs-config,nestjs-logger: publish 1.0.0 version
  package.json
  projects/node/libs/nestjs-config/README.md
  projects/node/libs/nestjs-config/src/lib/config.service.spec.ts
  projects/node/libs/nestjs-config/src/lib/config.service.ts
Due: nestjs-config

nestjs-config,nestjs-logger: publish 1.0.1 version
  projects/node/libs/nestjs-config/README.md
  projects/node/libs/nestjs-config/package.json
  projects/node/libs/nestjs-logger/README.md
  projects/node/libs/nestjs-logger/package.json
Due: nestjs-logger, nestjs-config

nestjs-config,nestjs-logger: added CHANGELOG.md
  projects/node/libs/nestjs-config/CHANGELOG.md
  projects/node/libs/nestjs-config/README.md
  projects/node/libs/nestjs-logger/CHANGELOG.md
  projects/node/libs/nestjs-logger/README.md
Due: nestjs-logger, nestjs-config

nx migrate latest
  .npm-upgrade.json
  jest.config.js
  nx.json
  package-lock.json
  package.json
  projects/node/apps/hot-gateway/jest.config.js
  tsconfig.base.json
  workspace.json
Due: none

package upgrade
  .npm-upgrade.json
  build/ts/common.ts
  build/ts/utils/fs.ts
  package-lock.json
  package.json
  workspace.json
Due: none

build: using webpack 5
  package-lock.json
  package.json
Due: none

library exports
  projects/node/libs/nestjs-config/src/index.ts
  projects/node/libs/nestjs-logger/src/index.ts
Due: nestjs-logger, nestjs-config

small refactoring
  projects/node/libs/nestjs-config/README.md
  projects/node/libs/nestjs-config/src/lib/config.module.spec.ts
  projects/node/libs/nestjs-config/src/lib/config.module.ts
  projects/node/libs/nestjs-logger/src/lib/logger.module.spec.ts
  projects/node/libs/nestjs-logger/src/lib/logger.module.ts
  projects/node/libs/nestjs-logger/src/lib/logger.service.ts
  tsconfig.base.json
Due: nestjs-logger, nestjs-config

feat(nestjs-utils): create dynamic root module
  jest.config.js
  projects/node/libs/nestjs-config/src/lib/config.module.spec.ts
  projects/node/libs/nestjs-logger/src/lib/logger.module.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/sqlite3.module.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/sqlite3.service.ts
  projects/node/libs/nestjs-utils/README.md
  projects/node/libs/nestjs-utils/src/index.ts
  projects/node/libs/nestjs-utils/src/lib/dynamic-root.module.spec.ts
  projects/node/libs/nestjs-utils/src/lib/dynamic-root.module.ts
  projects/node/libs/nestjs-utils/src/lib/model/index.ts
  projects/node/libs/nestjs-utils/src/lib/model/mixin-target.ts
  projects/node/libs/nestjs-utils/src/lib/model/module.options.ts
Due: nestjs-logger, nestjs-config

docs
  README.md
Due: none

fixed linting
  projects/node/libs/nestjs-config/src/lib/config.module.spec.ts
  projects/node/libs/nestjs-logger/src/lib/logger.module.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/sqlite3.module.spec.ts
Due: nestjs-logger, nestjs-config

docs: fix build status link to travis-ci
  README.md
  projects/node/libs/nestjs-config/README.md
  projects/node/libs/nestjs-logger/README.md
  projects/node/libs/nestjs-sqlite3/README.md
Due: nestjs-logger, nestjs-config

nestjs-utils: version bump 1.0.2
  package.json
  projects/node/libs/nestjs-utils/CHANGELOG.md
  projects/node/libs/nestjs-utils/package.json
Due: none

feat(nestjs-utils): prevent duplicate forRoot/forRootAsync calls
  projects/node/libs/nestjs-utils/README.md
  projects/node/libs/nestjs-utils/src/lib/dynamic-root.module.spec.ts
  projects/node/libs/nestjs-utils/src/lib/dynamic-root.module.ts
Due: none

package upgrade
  package-lock.json
  package.json
Due: none

feat(sqlite3): modules
  projects/node/libs/nestjs-sqlite3/src/lib/model/sqlite3.constants.ts
  projects/node/libs/nestjs-sqlite3/src/lib/model/sqlite3.options.ts
  projects/node/libs/nestjs-sqlite3/src/lib/services/connection-manager.service.ts
  projects/node/libs/nestjs-sqlite3/src/lib/sqlite3-core.module.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/sqlite3-core.module.ts
  projects/node/libs/nestjs-sqlite3/src/lib/sqlite3.module.ts
  projects/node/libs/nestjs-sqlite3/src/lib/sqlite3.service.ts
Due: none

fix(tests)
  projects/node/libs/nestjs-config/src/lib/config.module.spec.ts
  projects/node/libs/nestjs-logger/src/lib/logger.module.spec.ts
  projects/node/libs/nestjs-utils/src/lib/dynamic-root.module.spec.ts
Due: nestjs-logger, nestjs-config

refactoring(utils)
  projects/node/libs/nestjs-utils/src/index.ts
  projects/node/libs/nestjs-utils/src/lib/dynamic-root/dynamic-root.module.spec.ts
  projects/node/libs/nestjs-utils/src/lib/dynamic-root/dynamic-root.module.ts
  projects/node/libs/nestjs-utils/src/lib/model/module.options.ts
Due: none

feat(utils): AsyncContext
  projects/node/libs/nestjs-utils/src/index.ts
  projects/node/libs/nestjs-utils/src/lib/utils/async-context.spec.ts
  projects/node/libs/nestjs-utils/src/lib/utils/async-context.ts
Due: none

feat(utils): multiple dynamic module support using multiple register/registerAsync calls
  .gitignore
  projects/node/libs/nestjs-utils/CHANGELOG.md
  projects/node/libs/nestjs-utils/src/lib/dynamic-root/dynamic-root.module-multiple.spec.ts
  projects/node/libs/nestjs-utils/src/lib/dynamic-root/dynamic-root.module-single.spec.ts
  projects/node/libs/nestjs-utils/src/lib/dynamic-root/dynamic-root.module.ts
  projects/node/libs/nestjs-utils/src/lib/model/module.options.ts
Due: none

feat(sqlite3): modules and connection manager
  projects/node/libs/nestjs-sqlite3/src/lib/common/sqlite3.decorators.ts
  projects/node/libs/nestjs-sqlite3/src/lib/common/sqlite3.utils.ts
  projects/node/libs/nestjs-sqlite3/src/lib/model/index.ts
  projects/node/libs/nestjs-sqlite3/src/lib/model/sqlite3.constants.ts
  projects/node/libs/nestjs-sqlite3/src/lib/model/sqlite3.options.ts
  projects/node/libs/nestjs-sqlite3/src/lib/services/connection-manager.service.ts
  projects/node/libs/nestjs-sqlite3/src/lib/services/connection-manager.ts
  projects/node/libs/nestjs-sqlite3/src/lib/services/sqlite3-interceptor.ts
  projects/node/libs/nestjs-sqlite3/src/lib/sqlite3-core.module.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/sqlite3-core.module.ts
  projects/node/libs/nestjs-sqlite3/src/lib/sqlite3.module.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/sqlite3.module.ts
Due: none

docs(utils)
  projects/node/libs/nestjs-utils/README.md
  projects/node/libs/nestjs-utils/src/lib/dynamic-root/dynamic-root.module-multiple.spec.ts
Due: none

refactor(utils)
  projects/node/libs/nestjs-utils/src/lib/dynamic-root/dynamic-root.module-multiple.spec.ts
  projects/node/libs/nestjs-utils/src/lib/dynamic-root/dynamic-root.module-single.spec.ts
Due: none

small refactoring
  projects/node/libs/nestjs-config/src/lib/config.module.spec.ts
  projects/node/libs/nestjs-logger/src/lib/logger.module.spec.ts
  projects/node/libs/nestjs-utils/src/lib/dynamic-root/dynamic-root.module-multiple.spec.ts
  projects/node/libs/nestjs-utils/src/lib/dynamic-root/dynamic-root.module-single.spec.ts
  projects/node/libs/nestjs-utils/src/lib/utils/async-context.spec.ts
Due: nestjs-logger, nestjs-config

feat(gateway): initial cli based on nestjs-console
  package-lock.json
  package.json
  projects/node/apps/hot-gateway/src/app/app.module.ts
  projects/node/apps/hot-gateway/src/console.ts
  projects/node/apps/hot-gateway/tsconfig.cli.json
Due: none

build: exclude 'tests' directory from tsconfig.lib.json and tsconfig.app.json
  projects/node/apps/hot-gateway/tsconfig.app.json
  projects/node/libs/hot-express/tsconfig.lib.json
  projects/node/libs/nestjs-config/tsconfig.lib.json
  projects/node/libs/nestjs-logger/tsconfig.lib.json
  projects/node/libs/nestjs-sqlite3/tsconfig.lib.json
  projects/node/libs/nestjs-utils/tsconfig.lib.json
Due: nestjs-logger, nestjs-config

build: prepare publishing
  build/prepare-publish.ts
  build/version-bump.ts
  package.json
  projects/node/libs/hot-express/package.json
  projects/node/libs/nestjs-config/package.json
  projects/node/libs/nestjs-logger/package.json
  projects/node/libs/nestjs-sqlite3/package.json
  projects/node/libs/nestjs-utils/package.json
  workspace.json
Due: nestjs-logger, nestjs-config

nestjs-config: version bump 1.0.3
  projects/node/libs/nestjs-config/CHANGELOG.md
  projects/node/libs/nestjs-config/package.json
Due: nestjs-config

nestjs-logger: version bump 1.0.3
  projects/node/libs/nestjs-logger/CHANGELOG.md
  projects/node/libs/nestjs-logger/package.json
Due: nestjs-logger

nestjs-utils: version bump 1.0.3
  projects/node/libs/nestjs-utils/package.json
Due: none

ci, codecov
  .travis.yml
  package.json
  projects/node/libs/nestjs-config/README.md
  projects/node/libs/nestjs-logger/README.md
  projects/node/libs/nestjs-utils/README.md
Due: nestjs-logger, nestjs-config

nestjs-sqlite3
  projects/node/libs/nestjs-sqlite3/README.md
  projects/node/libs/nestjs-sqlite3/src/index.ts
  projects/node/libs/nestjs-sqlite3/src/lib/common/sqlite3.decorators.ts
  projects/node/libs/nestjs-sqlite3/src/lib/common/sqlite3.utils.ts
  projects/node/libs/nestjs-sqlite3/src/lib/model/index.ts
  projects/node/libs/nestjs-sqlite3/src/lib/model/sqlite3.constants.ts
  projects/node/libs/nestjs-sqlite3/src/lib/services/connection-manager.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/services/connection-manager.ts
  projects/node/libs/nestjs-sqlite3/src/lib/services/entity-manager.ts
  projects/node/libs/nestjs-sqlite3/src/lib/services/repository.ts
  projects/node/libs/nestjs-sqlite3/src/lib/services/sqlite3-interceptor.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/services/sqlite3-interceptor.ts
  projects/node/libs/nestjs-sqlite3/src/lib/sqlite3-core.module.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/sqlite3-core.module.ts
  projects/node/libs/nestjs-sqlite3/src/lib/sqlite3.module.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/sqlite3.module.ts
  workspace.json
Due: none

build: tests
  projects/node/apps/hot-gateway/tsconfig.app.json
  projects/node/libs/hot-express/tsconfig.lib.json
  projects/node/libs/hot-express/tsconfig.spec.json
  projects/node/libs/nestjs-config/tsconfig.lib.json
  projects/node/libs/nestjs-config/tsconfig.spec.json
  projects/node/libs/nestjs-logger/tsconfig.lib.json
  projects/node/libs/nestjs-logger/tsconfig.spec.json
  projects/node/libs/nestjs-sqlite3/tsconfig.lib.json
  projects/node/libs/nestjs-sqlite3/tsconfig.spec.json
  projects/node/libs/nestjs-utils/tsconfig.lib.json
  projects/node/libs/nestjs-utils/tsconfig.spec.json
Due: nestjs-logger, nestjs-config

packaging
  package-lock.json
  package.json
Due: none
