Repository gms1/HomeOfThings: changes, and which Codecov flags are due for each by the changed paths.
All: nestjs-logger, nestjs-config

build: tests
  .gitignore
  package.json
  projects/node/apps/hot-gateway/tsconfig.app.json
  projects/node/apps/hot-gateway/tsconfig.spec.json
  projects/node/libs/hot-express/tsconfig.lib.json
  projects/node/libs/hot-express/tsconfig.spec.json
  projects/node/libs/nestjs-config/tsconfig.lib.json
  projects/node/libs/nestjs-config/tsconfig.spec.json
  projects/node/libs/nestjs-logger/tsconfig.lib.json
  projects/node/libs/nestjs-logger/tsconfig.spec.json
  projects/node/libs/nestjs-sqlite3/tsconfig.lib.json
  projects/node/libs/nestjs-sqlite3/tsconfig.spec.json
  projects/node/libs/nestjs-utils/tsconfig.lib.json
Due: nestjs-logger, nestjs-config

doc: remove snyk badge: not possible to mark alerts as false-positive
  README.md
Due: none

nestjs-sqlite3
  projects/node/libs/nestjs-sqlite3/README.md
  projects/node/libs/nestjs-sqlite3/src/index.ts
  projects/node/libs/nestjs-sqlite3/src/lib/common/sqlite3.decorators.ts
  projects/node/libs/nestjs-sqlite3/src/lib/common/sqlite3.utils.ts
  projects/node/libs/nestjs-sqlite3/src/lib/model/index.ts
  projects/node/libs/nestjs-sqlite3/src/lib/model/sqlite3.constants.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/connection-manager.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/connection-manager.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/entity-manager.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/entity-manager.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/repository.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/repository.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/sqlite3-interceptor.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/sqlite3-interceptor.ts
  projects/node/libs/nestjs-sqlite3/src/lib/services/connection-manager.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/services/connection-manager.ts
  projects/node/libs/nestjs-sqlite3/src/lib/services/entity-manager.ts
  projects/node/libs/nestjs-sqlite3/src/lib/services/repository.ts
  projects/node/libs/nestjs-sqlite3/src/lib/sqlite3-core.module.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/sqlite3-core.module.ts
  projects/node/libs/nestjs-sqlite3/src/lib/sqlite3.module.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/sqlite3.module.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/sqlite3.module.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/mocks/connection-manager.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/mocks/logger.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/mocks/nest-utils.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/mocks/sqlite3orm.ts
Due: none

package: upgrade dependencies
  package-lock.json
  package.json
  workspace.json
Due: none

build: tests
  codecov.yml
Due: none

package: upgrade deps
  package-lock.json
  package.json
  workspace.json
Due: none

nestjs-sqlite3
  projects/node/libs/nestjs-sqlite3/jest.config.js
  projects/node/libs/nestjs-sqlite3/src/lib/common/sqlite3.decorators.ts
  projects/node/libs/nestjs-sqlite3/src/lib/model/index.ts
  projects/node/libs/nestjs-sqlite3/src/lib/model/sqlite3.options.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/connection-manager.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/entity-manager.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/repository.ts
  projects/node/libs/nestjs-sqlite3/src/lib/sqlite3-core.module.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/entity-manager.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/fixtures/entity/contact.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/fixtures/entity/user.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/fixtures/init.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/fixtures/repository/user.repository.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/fixtures/service/contact.entity-manager.service.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/fixtures/service/contact.repository.service.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/fixtures/service/user.entity-manager.service.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/fixtures/service/user.repository.service.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/repository.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/sqlite3.module.spec.ts
  projects/node/libs/nestjs-sqlite3/tsconfig.spec.json
Due: none

build: exclude test directory from coverage
  projects/node/apps/hot-gateway/jest.config.js
  projects/node/libs/hot-express/jest.config.js
  projects/node/libs/nestjs-config/jest.config.js
  projects/node/libs/nestjs-logger/jest.config.js
  projects/node/libs/nestjs-utils/jest.config.js
Due: nestjs-logger, nestjs-config

nestjs-sqlite3
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/fixtures/init.ts
Due: none

nestjs-sqlite3
  projects/node/libs/nestjs-sqlite3/jest.config.js
Due: none

docs(nestjs-sqlite3)
  ISSUES.md
  projects/node/libs/nestjs-config/src/lib/config.module.spec.ts
  projects/node/libs/nestjs-sqlite3/README.md
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/fixtures/repository/user.repository.ts
Due: nestjs-config

nestjs-sqlite3: version bump 1.0.2 (first version)
  projects/node/libs/nestjs-sqlite3/package.json
Due: none

build: tsconfig
  build/create-self-signed-cert
  projects/node/libs/hot-express/tsconfig.lib.json
  projects/node/libs/nestjs-config/tsconfig.lib.json
  projects/node/libs/nestjs-logger/tsconfig.lib.json
  projects/node/libs/nestjs-sqlite3/tsconfig.lib.json
  projects/node/libs/nestjs-utils/tsconfig.lib.json
  tsconfig.base.json
Due: nestjs-logger, nestjs-config

build: global tsconfig compile options
  ISSUES.md
  build/prepare-publish.ts
  build/tsconfig.json
  projects/node/libs/nestjs-config/src/lib/config.service.spec.ts
  projects/node/libs/nestjs-logger/src/lib/winston/winston-format.spec.ts
  tsconfig.base.json
Due: nestjs-logger, nestjs-config

nestjs-utils: fix error message text
  projects/node/libs/nestjs-utils/src/lib/dynamic-root/dynamic-root.module.ts
Due: none

nestjs-logger: fix debug context
  projects/node/libs/nestjs-logger/src/lib/winston/winston-logger.ts
Due: nestjs-logger

nestjs-config: ConfigService as singleton
  projects/node/libs/nestjs-config/TODO.md
  projects/node/libs/nestjs-config/src/lib/config.module.spec.ts
  projects/node/libs/nestjs-config/src/lib/config.service.spec.ts
  projects/node/libs/nestjs-config/src/lib/config.service.ts
Due: nestjs-config

nestjs-config: global module ( no need to import either ConfigModule or ConfigModule.forChild() )
  projects/node/libs/nestjs-config/README.md
  projects/node/libs/nestjs-config/src/lib/config.module.ts
Due: nestjs-config

nestjs-logger: global module ( no need to import either LoggerModule or LoggerModule.forChild() )
  projects/node/libs/nestjs-logger/CHANGELOG.md
  projects/node/libs/nestjs-logger/src/lib/logger.module.ts
Due: nestjs-logger

nestjs-config: docs
  projects/node/libs/nestjs-config/CHANGELOG.md
Due: nestjs-config

nestjs-utils: docs
  projects/node/libs/nestjs-utils/CHANGELOG.md
Due: none

small refactoring
  projects/node/libs/nestjs-config/src/lib/config.service.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/connection-manager.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/connection-manager.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/entity-manager.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/repository.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/sqlite3-interceptor.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/mocks/connection-manager.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/mocks/nest-utils.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/mocks/sqlite3orm.ts
  projects/node/libs/nestjs-utils/src/index.ts
  projects/node/libs/nestjs-utils/src/lib/async-context/async-context.spec.ts
  projects/node/libs/nestjs-utils/src/lib/async-context/async-context.ts
  projects/node/libs/nestjs-utils/src/lib/file/write-file-if-changed.spec.ts
  projects/node/libs/nestjs-utils/src/lib/file/write-file-if-changed.ts
Due: nestjs-config

hot: initial swagger, cli,...
  build/create-node-app
  config/default.yml
  nx.json
  package-lock.json
  package.json
  projects/node/apps/hot-cli/.eslintrc.json
  projects/node/apps/hot-cli/jest.config.js
  projects/node/apps/hot-cli/package.json
  projects/node/apps/hot-cli/src/app/.gitkeep
  projects/node/apps/hot-cli/src/app/app.module.ts
  projects/node/apps/hot-cli/src/assets/.gitkeep
  projects/node/apps/hot-cli/src/environments/environment.prod.ts
  projects/node/apps/hot-cli/src/environments/environment.ts
  projects/node/apps/hot-cli/src/main.ts
  projects/node/apps/hot-cli/tsconfig.app.json
  projects/node/apps/hot-cli/tsconfig.json
  projects/node/apps/hot-cli/tsconfig.spec.json
  projects/node/apps/hot-gateway/custom-webpack.config.js
  projects/node/apps/hot-gateway/src/app/app.controller.ts
  projects/node/apps/hot-gateway/src/app/app.message.dto.ts
  projects/node/apps/hot-gateway/src/app/app.module.ts
  projects/node/apps/hot-gateway/src/app/app.service.ts
  projects/node/apps/hot-gateway/src/console.ts
  projects/node/apps/hot-gateway/src/express/express-application-options.ts
  projects/node/apps/hot-gateway/src/express/express-application.ts
  projects/node/apps/hot-gateway/src/main.ts
  projects/node/apps/hot-gateway/tsconfig.cli.json
  projects/node/libs/hot-express/src/index.ts
  projects/node/libs/nestjs-sqlite3/jest.config.js
  workspace.json
Due: none

nestjs-sqlite3: decorator aliases similar to typeorm
  projects/node/libs/nestjs-sqlite3/README.md
  projects/node/libs/nestjs-sqlite3/src/lib/common/sqlite3.decorators.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/entity-manager.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/repository.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/fixtures/entity/contact.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/fixtures/entity/user.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/fixtures/init.ts
Due: none

nestjs-sqlite3: findOne
  projects/node/libs/nestjs-sqlite3/src/lib/service/entity-manager.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/repository.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/entity-manager.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/fixtures/service/user.entity-manager.service.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/fixtures/service/user.repository.service.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/repository.spec.ts
Due: none

hot: initial swagger, cli,...
  README.md
  config/default.yml
  package-lock.json
  package.json
  projects/node/apps/hot-gateway/jest.config.js
  projects/node/apps/hot-gateway/src/app/app.module.ts
  projects/node/apps/hot-gateway/src/main.ts
  projects/node/libs/hot-server/.babelrc
  projects/node/libs/hot-server/.eslintrc.json
  projects/node/libs/hot-server/README.md
  projects/node/libs/hot-server/jest.config.js
  projects/node/libs/hot-server/package.json
  projects/node/libs/hot-server/src/index.ts
  projects/node/libs/hot-server/src/lib/authentication/authentication.controller.ts
  projects/node/libs/hot-server/src/lib/authentication/authentication.module.ts
  projects/node/libs/hot-server/src/lib/authentication/authentication.service.ts
  projects/node/libs/hot-server/src/lib/authentication/dto/login.dto.ts
  projects/node/libs/hot-server/src/lib/authentication/dto/register.dto.ts
  projects/node/libs/hot-server/src/lib/authentication/local.serializer.ts
  projects/node/libs/hot-server/src/lib/authentication/local.strategy.ts
  projects/node/libs/hot-server/src/lib/authentication/login.guard.ts
  projects/node/libs/hot-server/src/lib/authentication/re-authentication.guard.ts
  projects/node/libs/hot-server/src/lib/database/database.module.ts
  projects/node/libs/hot-server/src/lib/user/dto/create-user.dto.ts
  projects/node/libs/hot-server/src/lib/user/entity/user.entity.ts
  projects/node/libs/hot-server/src/lib/user/user.module.ts
  projects/node/libs/hot-server/src/lib/user/user.service.ts
  projects/node/libs/hot-server/tsconfig.json
  projects/node/libs/hot-server/tsconfig.lib.json
  projects/node/libs/hot-server/tsconfig.spec.json
  projects/node/libs/nestjs-config/jest.config.js
  projects/node/libs/nestjs-logger/jest.config.js
  tsconfig.base.json
  workspace.json
Due: nestjs-logger, nestjs-config

nestjs-utils: version bump 1.0.4
  build/version-bump.ts
  projects/node/libs/nestjs-utils/CHANGELOG.md
  projects/node/libs/nestjs-utils/package.json
Due: none

nestjs-config: version bump 1.0.4
  projects/node/libs/nestjs-config/CHANGELOG.md
  projects/node/libs/nestjs-config/package.json
Due: nestjs-config

nestjs-logger: version bump 1.0.4
  projects/node/libs/nestjs-logger/package.json
Due: nestjs-logger

nestjs-sqlite3: version bump 1.0.3
  projects/node/libs/nestjs-sqlite3/CHANGELOG.md
  projects/node/libs/nestjs-sqlite3/package.json
Due: none

hot-server: authentication
  package-lock.json
  package.json
  projects/node/libs/hot-server/src/lib/authentication/README.md
  projects/node/libs/hot-server/src/lib/authentication/authentication.controller.ts
  projects/node/libs/hot-server/src/lib/authentication/authentication.service.ts
  projects/node/libs/hot-server/src/lib/authentication/dto/register.dto.ts
  projects/node/libs/hot-server/src/lib/user/dto/create-user.dto.ts
  projects/node/libs/hot-server/src/lib/user/entity/user.entity.ts
Due: none

nestjs-config: set config-directory and/or ConfigModuleOptions
  projects/node/libs/nestjs-config/src/lib/config.service.spec.ts
  projects/node/libs/nestjs-config/src/lib/config.service.ts
  projects/node/libs/nestjs-config/src/lib/model/config.options.ts
  projects/node/libs/nestjs-sqlite3/tsconfig.spec.json
Due: nestjs-config

nestjs-utils: feature lru-cache
  projects/node/libs/nestjs-utils/src/index.ts
  projects/node/libs/nestjs-utils/src/lib/lru-cache/lru-cache.spec.ts
  projects/node/libs/nestjs-utils/src/lib/lru-cache/lru-cache.ts
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

hot-server: authentication
  config/default.yml
  nx.json
  package-lock.json
  package.json
  projects/node/apps/hot-gateway/src/app/app.controller.spec.ts
  projects/node/apps/hot-gateway/src/app/app.controller.ts
  projects/node/apps/hot-gateway/src/app/app.message.dto.ts
  projects/node/apps/hot-gateway/src/app/app.module.ts
  projects/node/apps/hot-gateway/src/app/app.service.spec.ts
  projects/node/apps/hot-gateway/src/app/app.service.ts
  projects/node/apps/hot-gateway/src/express/express-application-options.ts
  projects/node/apps/hot-gateway/src/express/express-application.ts
  projects/node/apps/hot-gateway/src/main.ts
  projects/node/libs/hot-server/src/index.ts
  projects/node/libs/hot-server/src/lib/authentication/README.md
  projects/node/libs/hot-server/src/lib/authentication/authentication.controller.ts
  projects/node/libs/hot-server/src/lib/authentication/authentication.module.ts
  projects/node/libs/hot-server/src/lib/authentication/authentication.service.ts
  projects/node/libs/hot-server/src/lib/authentication/dto/login.dto.ts
  projects/node/libs/hot-server/src/lib/authentication/dto/register.dto.ts
  projects/node/libs/hot-server/src/lib/authentication/local.serializer.ts
  projects/node/libs/hot-server/src/lib/authentication/local.strategy.ts
  projects/node/libs/hot-server/src/lib/authentication/model/authentication.constants.ts
  projects/node/libs/hot-server/src/lib/authentication/model/authentication.options.ts
  projects/node/libs/hot-server/src/lib/authentication/model/index.ts
  projects/node/libs/hot-server/src/lib/authentication/user-is-authenticated.guard.ts
  projects/node/libs/hot-server/src/lib/authentication/user-login.guard.ts
  projects/node/libs/hot-server/src/lib/database/database.module.ts
  projects/node/libs/hot-server/src/lib/model/index.ts
  projects/node/libs/hot-server/src/lib/server/model/index.ts
  projects/node/libs/hot-server/src/lib/server/model/server.constants.ts
  projects/node/libs/hot-server/src/lib/server/server.module.ts
  projects/node/libs/hot-server/src/lib/test/integration/fixtures/config/default.yml
  projects/node/libs/hot-server/src/lib/test/integration/fixtures/test-app.module.ts
  projects/node/libs/hot-server/src/lib/user/dto/create-user.dto.ts
  projects/node/libs/hot-server/src/lib/user/entity/user.entity.ts
  projects/node/libs/hot-server/src/lib/user/user.module.ts
  projects/node/libs/hot-server/src/lib/user/user.service.ts
  projects/node/libs/hot-server/tsconfig.spec.json
Due: none

nestjs-config: bug: lazy config
  projects/node/libs/nestjs-config/src/lib/config.service.ts
Due: nestjs-config

nestjs-utils: feature lru-cache
  projects/node/libs/nestjs-utils/README.md
  projects/node/libs/nestjs-utils/src/lib/lru-cache/lru-cache.spec.ts
  projects/node/libs/nestjs-utils/src/lib/lru-cache/lru-cache.ts
Due: none

Path conditions:
  nestjs-logger: any of: projects/node/libs/nestjs-logger
  nestjs-config: any of: projects/node/libs/nestjs-config
