Repository gms1/HomeOfThings: changes, and which Codecov flags are due for each by the changed paths.
All: jsonpointerx, sqlite3orm, asyncctx, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

chore: upgrade dependencies (nx)
  build/src/publish.ts
  package-lock.json
  package.json
Due: none

release: version bump for all published packages
  docs/DEVELOP.md
  packages/js/jsonpointerx/CHANGELOG.md
  packages/js/jsonpointerx/package.json
  packages/node/@homeofthings/nestjs-config/CHANGELOG.md
  packages/node/@homeofthings/nestjs-config/package.json
  packages/node/@homeofthings/nestjs-logger/CHANGELOG.md
  packages/node/@homeofthings/nestjs-logger/package.json
  packages/node/@homeofthings/nestjs-sqlite3/CHANGELOG.md
  packages/node/@homeofthings/nestjs-sqlite3/package.json
  packages/node/@homeofthings/nestjs-utils/CHANGELOG.md
  packages/node/@homeofthings/nestjs-utils/package.json
  packages/node/@homeofthings/node-sys/CHANGELOG.md
  packages/node/@homeofthings/node-sys/package.json
  packages/node/@homeofthings/node-utils/CHANGELOG.md
  packages/node/@homeofthings/node-utils/package.json
  packages/node/asyncctx/CHANGELOG.md
  packages/node/asyncctx/package.json
  packages/node/sqlite3orm/CHANGELOG.md
  packages/node/sqlite3orm/package.json
Due: jsonpointerx, sqlite3orm, asyncctx, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

chore: upgrade dependencies (nestjs)
  eslint.config.mjs
  package-lock.json
  package.json
  packages/node/@homeofthings/nestjs-config/package.json
  packages/node/@homeofthings/nestjs-logger/package.json
  packages/node/@homeofthings/nestjs-sqlite3/package.json
  packages/node/@homeofthings/nestjs-utils/package.json
Due: nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

build: build workflow: add nodejs 24.x and removed 18.x
  .github/workflows/build.yml
Due: none

Revert "build: build workflow: add nodejs 24.x and removed 18.x"
  .github/workflows/build.yml
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

Potential fix for code scanning alert no. 12: Reflected cross-site scripting
  packages/node/@homeofthings/hot-gateway/package.json
  packages/node/@homeofthings/hot-gateway/src/express/express-application.ts
Due: none

Potential fix for code scanning alert no. 10: Workflow does not contain permissions
  .github/workflows/build.yml
Due: none

chore: upgrade dependencies (nx)
  .gitignore
  nx.json
  package-lock.json
  package.json
  packages/js/jsonpointerx/src/lib/jsonpointerx.spec.ts
  packages/node/@homeofthings/hot-gateway/src/express/express-application.ts
Due: jsonpointerx

chore: upgrade dependencies
  package-lock.json
  package.json
  packages/node/@homeofthings/node-sys/package.json
  packages/node/@homeofthings/node-utils/package.json
Due: none

chore: upgrade dependencies (test)
  docs/DEVELOP.md
  tools/benchmarks/jsonpointerx/package-lock.json
  tools/benchmarks/jsonpointerx/package.json
Due: none

build: build worklfow: upgrade os and node version
  .github/workflows/build.yml
Due: none

build: build workflow: using node 20
  .github/workflows/build.yml
  docs/DEVELOP.md
Due: none

Revert "Merge pull request #40 from gms1/dependabot/npm_and_yarn/npm_and_yarn-b689798e8e"
  package-lock.json
  package.json
Due: none

build(deps): upgrade nx
  .gitignore
  nx.json
  package-lock.json
  package.json
Due: none

build(deps): package upgrade and fixed new lint errors
  .npm-upgrade.json
  build/src/merge-coverage.ts
  package-lock.json
  package.json
  packages/node/@homeofthings/node-sys/package.json
  packages/node/@homeofthings/node-sys/src/lib/fs/index.ts
  packages/node/@homeofthings/node-utils/src/lib/config/config.service.ts
  packages/node/sqlite3orm/package.json
  packages/node/sqlite3orm/src/lib/core/SqlConnectionPool.ts
  packages/node/sqlite3orm/src/lib/core/SqlConnectionPoolDatabase.ts
  packages/node/sqlite3orm/src/lib/metadata/MetaModel.ts
  packages/node/sqlite3orm/src/lib/metadata/MetaProperty.ts
  packages/node/sqlite3orm/src/lib/spec/AutoUpgrader.spec.ts
  packages/node/sqlite3orm/src/lib/spec/BaseDAO.spec.ts
  packages/node/sqlite3orm/src/lib/spec/core/SqlStatement.spec.ts
Due: sqlite3orm

release: version bump for all published packages
  packages/js/jsonpointerx/CHANGELOG.md
  packages/js/jsonpointerx/package.json
  packages/node/@homeofthings/nestjs-config/CHANGELOG.md
  packages/node/@homeofthings/nestjs-config/package.json
  packages/node/@homeofthings/nestjs-logger/CHANGELOG.md
  packages/node/@homeofthings/nestjs-logger/package.json
  packages/node/@homeofthings/nestjs-sqlite3/CHANGELOG.md
  packages/node/@homeofthings/nestjs-sqlite3/package.json
  packages/node/@homeofthings/nestjs-utils/CHANGELOG.md
  packages/node/@homeofthings/nestjs-utils/package.json
  packages/node/@homeofthings/node-sys/CHANGELOG.md
  packages/node/@homeofthings/node-sys/package.json
  packages/node/@homeofthings/node-utils/CHANGELOG.md
  packages/node/@homeofthings/node-utils/package.json
  packages/node/asyncctx/CHANGELOG.md
  packages/node/asyncctx/package.json
  packages/node/sqlite3orm/CHANGELOG.md
  packages/node/sqlite3orm/package.json
Due: jsonpointerx, sqlite3orm, asyncctx, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

build(deps): downgraded node-sqlite, since version 6.0.1 is based on withdrawn sqlite upstream version 3.52.0
  package-lock.json
  package.json
  packages/node/sqlite3orm/package.json
Due: sqlite3orm

release: sqlite3orm@2.7.7 and @homeofthings/nestjs-sqlite3@2.1.2
  packages/node/@homeofthings/nestjs-sqlite3/CHANGELOG.md
  packages/node/@homeofthings/nestjs-sqlite3/package.json
  packages/node/@homeofthings/nestjs-utils/CHANGELOG.md
  packages/node/sqlite3orm/CHANGELOG.md
  packages/node/sqlite3orm/package.json
Due: sqlite3orm, nestjs-utils, nestjs-sqlite3

fix: packages/node/sqlite3orm/package.json to reduce vulnerabilities
  packages/node/sqlite3orm/package.json
Due: sqlite3orm

build(deps): upgrade test
  docs/DEVELOP.md
  tools/benchmarks/jsonpointerx/package-lock.json
  tools/benchmarks/jsonpointerx/package.json
Due: none

build: jsonpointerx source maps
  packages/js/jsonpointerx/.swcrc
  packages/js/jsonpointerx/project.json
Due: jsonpointerx

build(ci): added workflow_dispatch
  .github/workflows/build.yml
Due: none

docs: added sqlcipher.md
  .gitattributes
  packages/node/sqlite3orm/docs/sqlcipher.md
  packages/node/sqlite3orm/src/lib/spec/core/SqlDatabase.spec.ts
  packages/node/sqlite3orm/src/lib/spec/fixtures/cipher.db
Due: sqlite3orm

Set npm as the package ecosystem for Dependabot
  .github/dependabot.yml
Due: none

chore: migrate sqlite3 from deprecated TryGhost/node-sqlite3 to HomeOfThings/node-sqlite3
  eslint.config.mjs
  package-lock.json
  package.json
  packages/js/jsonpointerx/jest.config.ts
  packages/node/@homeofthings/hot-server/src/lib/user/user.service.ts
  packages/node/@homeofthings/nestjs-sqlite3/CHANGELOG.md
  packages/node/@homeofthings/nestjs-sqlite3/package.json
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/service/connection-manager.spec.ts
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/service/entity-manager.spec.ts
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/service/sqlite3-interceptor.spec.ts
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/test/integration/entity-manager.spec.ts
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/test/integration/repository.spec.ts
  packages/node/@homeofthings/node-utils/src/lib/lru-cache/lru-cache.ts
  packages/node/sqlite3orm/CHANGELOG.md
  packages/node/sqlite3orm/eslint.config.mjs
  packages/node/sqlite3orm/package.json
  packages/node/sqlite3orm/src/lib/core/SqlConnectionPoolDatabase.ts
  packages/node/sqlite3orm/src/lib/core/SqlDatabase.ts
  packages/node/sqlite3orm/src/lib/core/SqlStatement.ts
  packages/node/sqlite3orm/src/lib/spec/core/SqlStatement.spec.ts
Due: jsonpointerx, sqlite3orm, nestjs-sqlite3

ci: new github workflow for trusted publishing
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .gitignore
  build/src/publish.ts
  docs/DEVELOP.md
Due: none

chore: nx 22.7 upgrade
  .gitignore
  .prettierignore
  nx.json
  package-lock.json
  package.json
Due: none

chore: upgraded dependencies
  .npm-upgrade.json
  build/tsconfig.lib.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: none

build: lint fixed
  .npm-upgrade.json
Due: none

chore: upgrade dependencies
  package-lock.json
  package.json
Due: none

chore: upgrade dependencies
  package-lock.json
  package.json
  packages/node/@homeofthings/node-sys/package.json
  tools/benchmarks/jsonpointerx/.npm-upgrade.json
  tools/benchmarks/jsonpointerx/package-lock.json
  tools/benchmarks/jsonpointerx/package.json
Due: none

Path conditions:
  jsonpointerx: any of: packages/js/jsonpointerx
  sqlite3orm: any of: packages/node/sqlite3orm
  asyncctx: any of: packages/node/asyncctx
  nestjs-utils: any of: packages/node/@homeofthings/nestjs-utils
  nestjs-config: any of: packages/node/@homeofthings/nestjs-config
  nestjs-logger: any of: packages/node/@homeofthings/nestjs-logger
  nestjs-sqlite3: any of: packages/node/@homeofthings/nestjs-sqlite3
