Repository gms1/HomeOfThings: changes, and which Codecov flags are due for each by the changed paths.
All: jsonpointerx, sqlite3orm, asyncctx, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

codecov.yml:

flags:
  jsonpointerx:
    paths:
      - packages/js/jsonpointerx
  sqlite3orm:
    paths:
      - packages/node/sqlite3orm
  asyncctx:
    paths:
      - packages/node/asyncctx
  nestjs-utils:
    paths:
      - packages/node/@homeofthings/nestjs-utils
  nestjs-config:
    paths:
      - packages/node/@homeofthings/nestjs-config
  nestjs-logger:
    paths:
      - packages/node/@homeofthings/nestjs-logger
  nestjs-sqlite3:
    paths:
      - packages/node/@homeofthings/nestjs-sqlite3

# To see status checks based on flags
coverage:
  status:
    project:
      jsonpointerx:
        flags:
          - jsonpointerx
      sqlite3orm:
        flags:
          - sqlite3orm
      asyncctx:
        flags:
          - asyncctx
      nestjs-utils:
        flags:
          - nestjs-utils
      nestjs-config:
        flags:
          - nestjs-config
      nestjs-logger:
        flags:
          - nestjs-logger
      nestjs-sqlite3:
        flags:
          - nestjs-sqlite3

chore: upgrade dependencies
  tools/benchmarks/jsonpointerx/.npm-upgrade.json
Due: none

chore: upgrade dependencies
  package-lock.json
  package.json
  tools/benchmarks/jsonpointerx/package-lock.json
  tools/benchmarks/jsonpointerx/package.json
Due: none

chore: upgrade dependencies
  .npm-upgrade.json
  package-lock.json
  package.json
Due: none

chore: upgrade dependencies
  .npm-upgrade.json
  package-lock.json
Due: none

chore: upgrade dependencies
  package-lock.json
  package.json
Due: none

feat(sqlite3orm): improved parsing of column-type and column-constraint
  packages/node/sqlite3orm/src/lib/metadata/Field.ts
  packages/node/sqlite3orm/src/lib/spec/metadata/Field.spec.ts
Due: sqlite3orm

chore: upgrade dependencies
  docs/DEVELOP.md
  package-lock.json
  package.json
  tools/benchmarks/jsonpointerx/package-lock.json
  tools/benchmarks/jsonpointerx/package.json
Due: none

release: all publishable packages
  build/src/version-bump.ts
  packages/js/jsonpointerx/CHANGELOG.md
  packages/js/jsonpointerx/package.json
  packages/node/@homeofthings/nestjs-config/CHANGELOG.md
  packages/node/@homeofthings/nestjs-config/package.json
  packages/node/@homeofthings/nestjs-logger/CHANGELOG.md
  packages/node/@homeofthings/nestjs-logger/package.json
  packages/node/@homeofthings/nestjs-sqlite3/CHANGELOG.md
  packages/node/@homeofthings/nestjs-sqlite3/package.json
  packages/node/@homeofthings/nestjs-utils/CHANGELOG.md
  packages/node/@homeofthings/nestjs-utils/package.json
  packages/node/@homeofthings/node-sys/CHANGELOG.md
  packages/node/@homeofthings/node-sys/package.json
  packages/node/@homeofthings/node-utils/CHANGELOG.md
  packages/node/@homeofthings/node-utils/package.json
  packages/node/asyncctx/CHANGELOG.md
  packages/node/asyncctx/package.json
  packages/node/sqlite3orm/CHANGELOG.md
  packages/node/sqlite3orm/package.json
Due: jsonpointerx, sqlite3orm, asyncctx, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

chore: do not fail on deprecation
  build/src/publish.ts
Due: none

chore: remove deprecated script
  build/sh/package-migrate.sh
Due: none

release: version bump for all published packages
  packages/js/jsonpointerx/CHANGELOG.md
  packages/js/jsonpointerx/package.json
  packages/node/@homeofthings/nestjs-config/CHANGELOG.md
  packages/node/@homeofthings/nestjs-config/package.json
  packages/node/@homeofthings/nestjs-logger/CHANGELOG.md
  packages/node/@homeofthings/nestjs-logger/package.json
  packages/node/@homeofthings/nestjs-sqlite3/CHANGELOG.md
  packages/node/@homeofthings/nestjs-sqlite3/package.json
  packages/node/@homeofthings/nestjs-utils/CHANGELOG.md
  packages/node/@homeofthings/nestjs-utils/package.json
  packages/node/@homeofthings/node-sys/CHANGELOG.md
  packages/node/@homeofthings/node-sys/package.json
  packages/node/@homeofthings/node-utils/CHANGELOG.md
  packages/node/@homeofthings/node-utils/package.json
  packages/node/asyncctx/CHANGELOG.md
  packages/node/asyncctx/package.json
  packages/node/sqlite3orm/CHANGELOG.md
  packages/node/sqlite3orm/package.json
Due: jsonpointerx, sqlite3orm, asyncctx, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

build: ts-node to tsx migration
  build/src/changelog.ts
  build/src/merge-coverage.ts
  build/src/publish.ts
  build/src/validate-projects.ts
  build/src/version-bump.ts
  package-lock.json
  package.json
  tools/benchmarks/jsonpointerx/package-lock.json
  tools/benchmarks/jsonpointerx/package.json
Due: none

feat: upgrade ESM-only packages and fix API changes
  .npm-upgrade.json
  build/src/merge-coverage.ts
  build/src/utils/file.ts
  build/typings/lcov-total.d.ts
  package-lock.json
  package.json
  packages/node/@homeofthings/nestjs-logger/package.json
  packages/node/@homeofthings/nestjs-logger/src/lib/winston/winston-format.ts
  packages/node/@homeofthings/node-sys/package.json
  packages/node/@homeofthings/node-sys/src/lib/fs/index.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/fs/index.ts
  packages/node/@homeofthings/node-utils/package.json
  packages/node/asyncctx/jest.config.ts
Due: asyncctx, nestjs-logger

fix: replace deep import into node-config with public API
  jest.mocks/config-lib-util.js
  jest.mocks/config.js
  jest.preset.js
  packages/node/@homeofthings/hot-server/jest.config.ts
  packages/node/@homeofthings/hot-server/src/lib/test/integration/authentication.spec.ts
  packages/node/@homeofthings/nestjs-config/jest.config.ts
  packages/node/@homeofthings/nestjs-config/src/lib/config.module.spec.ts
  packages/node/@homeofthings/nestjs-config/src/lib/config.service.integration.spec.ts
  packages/node/@homeofthings/nestjs-logger/src/lib/logger.module.spec.ts
  packages/node/@homeofthings/nestjs-logger/src/lib/logger.service.spec.ts
  packages/node/@homeofthings/nestjs-logger/src/lib/winston/winston.logger.spec.ts
  packages/node/@homeofthings/node-utils/jest.config.ts
  packages/node/@homeofthings/node-utils/src/lib/config/config.service.integration.spec.ts
  packages/node/@homeofthings/node-utils/src/lib/config/config.service.spec.ts
  packages/node/@homeofthings/node-utils/src/lib/config/config.service.ts
Due: nestjs-config, nestjs-logger

chore: add node engine >=24.9.0 to packages with ESM dependencies
  packages/node/@homeofthings/hot-cli/package.json
  packages/node/@homeofthings/hot-gateway/package.json
  packages/node/@homeofthings/hot-server/package.json
  packages/node/@homeofthings/nestjs-config/package.json
  packages/node/@homeofthings/nestjs-logger/package.json
  packages/node/@homeofthings/nestjs-sqlite3/package.json
  packages/node/@homeofthings/nestjs-utils/package.json
  packages/node/@homeofthings/node-sys/package.json
  packages/node/sqlite3orm/package.json
Due: sqlite3orm, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

docs: update memory bank - fix dependencies, add engine constraints, create node-sys
  .gitignore
  memory-bank/00-overview.md
  memory-bank/01-architecture.md
  memory-bank/02-standards.md
  memory-bank/03-workflows.md
  memory-bank/04-dependencies.md
  memory-bank/custom-instructions.md
  memory-bank/decisions/.gitkeep
  memory-bank/decisions/ADR-001-jest-esm-deep-imports.md
  memory-bank/packages/js/jsonpointerx.md
  memory-bank/packages/node/asyncctx.md
  memory-bank/packages/node/nestjs-config.md
  memory-bank/packages/node/nestjs-logger.md
  memory-bank/packages/node/nestjs-sqlite3.md
  memory-bank/packages/node/nestjs-utils.md
  memory-bank/packages/node/node-sys.md
  memory-bank/packages/node/node-utils.md
  memory-bank/packages/node/sqlite3orm.md
Due: none

test: add unit tests for node-utils ConfigService getConfig/getObject coverage
  packages/node/@homeofthings/node-utils/src/lib/config/config.service.spec.ts
Due: none

fix: address review findings across codebase and documentation
  AGENTS.md
  build/src/merge-coverage.ts
  memory-bank/00-overview.md
  memory-bank/01-architecture.md
  memory-bank/04-dependencies.md
  memory-bank/decisions/.gitkeep
  memory-bank/decisions/ADR-001-jest-esm-deep-imports.md
  memory-bank/packages/js/jsonpointerx.md
  memory-bank/packages/node/asyncctx.md
  memory-bank/packages/node/nestjs-config.md
  memory-bank/packages/node/nestjs-logger.md
  memory-bank/packages/node/nestjs-sqlite3.md
  memory-bank/packages/node/nestjs-utils.md
  package.json
Due: none

fix: improve Jest config, test mocks, and lcov-total handling
  build/src/merge-coverage.ts
  jest.preset.js
  package.json
  packages/node/@homeofthings/hot-server/jest.config.ts
  packages/node/@homeofthings/node-sys/src/lib/fs/index.spec.ts
Due: none

fix: revert lcov-total to caret version, format ADR table, update lockfile
  build/src/merge-coverage.ts
  memory-bank/01-architecture.md
  memory-bank/custom-instructions.md
  package-lock.json
  package.json
Due: none

fix: wrap program.parseAsync in async entrypoint and fix nestjs-sqlite3 doc paths
  build/src/merge-coverage.ts
  memory-bank/packages/node/nestjs-sqlite3.md
Due: none

chore: npm audit fix
  package-lock.json
Due: none

refactor: replace deprecated lcov-total with inline computeCoverage function
  build/package.json
  build/src/merge-coverage.ts
  build/src/utils/coverage.ts
  build/tsconfig.json
  build/tsconfig.lib.json
  build/typings/lcov-total.d.ts
  package-lock.json
  package.json
Due: none

chore: upgraded dependencies
  package-lock.json
  package.json
Due: none

chore: add package-upgrade.sh and document it in memory-bank and DEVELOP.md
  AGENTS.md
  build/sh/package-upgrade.sh
  docs/DEVELOP.md
  memory-bank/00-overview.md
  memory-bank/03-workflows.md
  memory-bank/custom-instructions.md
Due: none

feat: add automated version bump and changelog write workflow
  build/CHANGELOG.md
  build/project.json
  build/sh/version-bump.sh
  build/src/changelog.ts
  docs/DEVELOP.md
  memory-bank/00-overview.md
  memory-bank/03-workflows.md
  package.json
  packages/js/jsonpointerx/CHANGELOG.md
  packages/js/jsonpointerx/project.json
  packages/node/@homeofthings/hot-cli/CHANGELOG.md
  packages/node/@homeofthings/hot-cli/project.json
  packages/node/@homeofthings/hot-gateway/CHANGELOG.md
  packages/node/@homeofthings/hot-gateway/project.json
  packages/node/@homeofthings/hot-server/CHANGELOG.md
  packages/node/@homeofthings/hot-server/project.json
  packages/node/@homeofthings/nestjs-config/CHANGELOG.md
  packages/node/@homeofthings/nestjs-config/project.json
  packages/node/@homeofthings/nestjs-logger/CHANGELOG.md
  packages/node/@homeofthings/nestjs-logger/project.json
  packages/node/@homeofthings/nestjs-sqlite3/CHANGELOG.md
  packages/node/@homeofthings/nestjs-sqlite3/project.json
  packages/node/@homeofthings/nestjs-utils/CHANGELOG.md
  packages/node/@homeofthings/nestjs-utils/project.json
  packages/node/@homeofthings/node-sys/CHANGELOG.md
  packages/node/@homeofthings/node-sys/project.json
  packages/node/@homeofthings/node-utils/CHANGELOG.md
  packages/node/@homeofthings/node-utils/project.json
  packages/node/asyncctx/CHANGELOG.md
  packages/node/asyncctx/project.json
  packages/node/sqlite3orm/CHANGELOG.md
  packages/node/sqlite3orm/project.json
Due: jsonpointerx, sqlite3orm, asyncctx, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

fix: use release: prefix in version-bump commit messages
  build/sh/version-bump.sh
  docs/DEVELOP.md
  memory-bank/03-workflows.md
Due: none

fix: skip private and never-published packages in version-bump script
  build/sh/version-bump.sh
  docs/DEVELOP.md
  memory-bank/03-workflows.md
Due: none

fix: fix formatting and add format:write instruction to custom instructions
  build/CHANGELOG.md
  memory-bank/00-overview.md
  memory-bank/03-workflows.md
  memory-bank/custom-instructions.md
Due: none

fix: added audit fix
  build/sh/package-upgrade.sh
  memory-bank/custom-instructions.md
Due: none

build: overide commit message in changelog
  build/src/changelog.ts
  build/src/utils/git/log.ts
  build/src/version-bump.ts
  packages/node/@homeofthings/node-utils/src/lib/util/stream-strings.ts
Due: none

build: changelog
  build/src/changelog.ts
  build/src/utils/git/log.ts
  build/src/version-bump.ts
Due: none

chore: relaxed engine constraint and fixed changelogs
  memory-bank/04-dependencies.md
  package.json
  packages/js/jsonpointerx/CHANGELOG.md
  packages/node/@homeofthings/hot-cli/CHANGELOG.md
  packages/node/@homeofthings/hot-cli/package.json
  packages/node/@homeofthings/hot-gateway/CHANGELOG.md
  packages/node/@homeofthings/hot-gateway/package.json
  packages/node/@homeofthings/hot-server/CHANGELOG.md
  packages/node/@homeofthings/hot-server/package.json
  packages/node/@homeofthings/nestjs-config/CHANGELOG.md
  packages/node/@homeofthings/nestjs-config/package.json
  packages/node/@homeofthings/nestjs-logger/CHANGELOG.md
  packages/node/@homeofthings/nestjs-logger/package.json
  packages/node/@homeofthings/nestjs-sqlite3/CHANGELOG.md
  packages/node/@homeofthings/nestjs-sqlite3/package.json
  packages/node/@homeofthings/nestjs-utils/CHANGELOG.md
  packages/node/@homeofthings/nestjs-utils/package.json
  packages/node/@homeofthings/node-sys/CHANGELOG.md
  packages/node/@homeofthings/node-sys/package.json
  packages/node/@homeofthings/node-utils/CHANGELOG.md
  packages/node/@homeofthings/node-utils/package.json
  packages/node/asyncctx/CHANGELOG.md
  packages/node/sqlite3orm/CHANGELOG.md
  packages/node/sqlite3orm/package.json
Due: jsonpointerx, sqlite3orm, asyncctx, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

build: improved version bump
  build/sh/version-bump.sh
  build/src/changelog.ts
  packages/node/@homeofthings/hot-cli/CHANGELOG.md
  packages/node/@homeofthings/hot-gateway/CHANGELOG.md
  packages/node/@homeofthings/hot-server/CHANGELOG.md
  packages/node/@homeofthings/nestjs-config/CHANGELOG.md
  packages/node/@homeofthings/node-utils/CHANGELOG.md
Due: nestjs-config

build: process version bump in dependency order
  build/sh/version-bump.sh
Due: none

chore: upgraded dependencies
  .npm-upgrade.json
  build/package.json
  build/project.json
  build/sh/common
  build/sh/package-upgrade.sh
  build/src/types/semver.d.ts
  build/src/validate-projects.ts
  memory-bank/00-overview.md
  memory-bank/03-workflows.md
  memory-bank/decisions/ADR-002-jest-30.5-regression.md
  package-lock.json
  package.json
  packages/node/@homeofthings/nestjs-config/package.json
  packages/node/@homeofthings/nestjs-logger/package.json
  packages/node/@homeofthings/nestjs-sqlite3/package.json
  packages/node/@homeofthings/nestjs-utils/package.json
  packages/node/@homeofthings/nestjs-utils/src/lib/dynamic-root/dynamic-root.module.ts
Due: nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3
