Repository gms1/HomeOfThings: changes, and which Codecov flags are due for each by the changed paths.
All: jsonpointerx, sqlite3orm, asyncctx, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

codecov.yml:

flags:
  jsonpointerx:
    paths:
      - packages/js/jsonpointerx
  sqlite3orm:
    paths:
      - packages/node/sqlite3orm
  asyncctx:
    paths:
      - packages/node/asyncctx
  nestjs-utils:
    paths:
      - packages/node/@homeofthings/nestjs-utils
  nestjs-config:
    paths:
      - packages/node/@homeofthings/nestjs-config
  nestjs-logger:
    paths:
      - packages/node/@homeofthings/nestjs-logger
  nestjs-sqlite3:
    paths:
      - packages/node/@homeofthings/nestjs-sqlite3

# To see status checks based on flags
coverage:
  status:
    project:
      jsonpointerx:
        flags:
          - jsonpointerx
      sqlite3orm:
        flags:
          - sqlite3orm
      asyncctx:
        flags:
          - asyncctx
      nestjs-utils:
        flags:
          - nestjs-utils
      nestjs-config:
        flags:
          - nestjs-config
      nestjs-logger:
        flags:
          - nestjs-logger
      nestjs-sqlite3:
        flags:
          - nestjs-sqlite3

fix: package.json to reduce vulnerabilities
  package.json
Due: none

style: fixed typo
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/sqlite3.module.ts
Due: nestjs-sqlite3

feat: getConfig, getObject and getOptionalObject
  packages/node/@homeofthings/nestjs-config/README.md
  packages/node/@homeofthings/nestjs-config/TODO.md
  packages/node/@homeofthings/nestjs-config/src/lib/config.service.integration.spec.ts
  packages/node/@homeofthings/nestjs-config/src/lib/config.service.spec.ts
  packages/node/@homeofthings/nestjs-config/src/lib/config.service.ts
  packages/node/@homeofthings/nestjs-config/src/lib/test/index.ts
  packages/node/@homeofthings/nestjs-config/src/lib/test/test.yml
Due: nestjs-config

style: renamed BaseConfigService to NodeUtilsConfigService
  packages/node/@homeofthings/nestjs-config/src/lib/config.service.ts
Due: nestjs-config

docs: reload config
  packages/node/@homeofthings/node-utils/README.md
Due: none

feat: support for reloading configuration
  packages/node/@homeofthings/nestjs-config/README.md
  packages/node/@homeofthings/nestjs-config/TODO.md
  packages/node/@homeofthings/nestjs-config/src/lib/config.service.integration.spec.ts
  packages/node/@homeofthings/nestjs-config/src/lib/config.service.ts
Due: nestjs-config

fix: parse number using parseFloat instead of parseInt
  packages/node/@homeofthings/nestjs-config/src/lib/config.service.spec.ts
  packages/node/@homeofthings/nestjs-config/src/lib/config.service.ts
Due: nestjs-config

test: re-format
  packages/node/@homeofthings/nestjs-config/src/lib/test/test.yml
  packages/node/@homeofthings/node-utils/src/lib/config/test/test.yml
Due: nestjs-config

build: package-lock.json, reformat
  package-lock.json
  package.json
  packages/js/jsonpointerx/.swcrc
Due: jsonpointerx

refactor: refactor config service into node-utils
  packages/node/@homeofthings/nestjs-config/package.json
  packages/node/@homeofthings/nestjs-config/src/lib/config.service.ts
  packages/node/@homeofthings/nestjs-config/src/lib/model/index.ts
  packages/node/@homeofthings/node-utils/README.md
  packages/node/@homeofthings/node-utils/package.json
  packages/node/@homeofthings/node-utils/src/index.ts
  packages/node/@homeofthings/node-utils/src/lib/config/config.options.ts
  packages/node/@homeofthings/node-utils/src/lib/config/config.service.integration.spec.ts
  packages/node/@homeofthings/node-utils/src/lib/config/config.service.spec.ts
  packages/node/@homeofthings/node-utils/src/lib/config/config.service.ts
  packages/node/@homeofthings/node-utils/src/lib/config/test/index.ts
  packages/node/@homeofthings/node-utils/src/lib/config/test/test.yml
Due: nestjs-config

docs: todos
  TODO.md
  packages/node/@homeofthings/nestjs-config/TODO.md
  packages/node/@homeofthings/node-utils/TODO.md
Due: nestjs-config

test: stream to string array
  packages/node/@homeofthings/node-utils/src/lib/util/stream-strings.spec.ts
Due: none

style: renamed NodeSysLogger to NodeUtilsLogger
  packages/node/@homeofthings/nestjs-logger/src/lib/winston/winston-logger.ts
Due: nestjs-logger

release: node-utils version 1.1
  packages/node/@homeofthings/node-utils/CHANGELOG.md
  packages/node/@homeofthings/node-utils/package.json
Due: none

build: fix tsconfig.spec.json
  packages/node/@homeofthings/node-sys/tsconfig.spec.json
Due: none

release: node-sys version 1.0.1
  packages/node/@homeofthings/node-sys/CHANGELOG.md
  packages/node/@homeofthings/node-sys/package.json
Due: none

release: sqlite3orm version 2.7.2
  packages/node/sqlite3orm/CHANGELOG.md
  packages/node/sqlite3orm/package.json
Due: sqlite3orm

release: node-utils version 1.1
  packages/node/@homeofthings/node-utils/CHANGELOG.md
Due: none

release: node-sys version 1.0.1
  packages/node/@homeofthings/node-sys/CHANGELOG.md
Due: none

release: nestjs-utils version 2.0.2
  packages/node/@homeofthings/nestjs-utils/CHANGELOG.md
  packages/node/@homeofthings/nestjs-utils/package.json
Due: nestjs-utils

release: nestjs-config version 2.1.0
  packages/node/@homeofthings/nestjs-config/CHANGELOG.md
  packages/node/@homeofthings/nestjs-config/package.json
Due: nestjs-config

build: fix incrementing version
  build/src/version-bump.ts
Due: none

release: nestjs-sqlite3 version 2.0.2
  packages/node/@homeofthings/nestjs-sqlite3/CHANGELOG.md
  packages/node/@homeofthings/nestjs-sqlite3/package.json
Due: nestjs-sqlite3

release: nestjs-logger version 2.0.2
  packages/node/@homeofthings/nestjs-logger/CHANGELOG.md
  packages/node/@homeofthings/nestjs-logger/package.json
Due: nestjs-logger

release: jsonpointerx version 1.2.1
  packages/js/jsonpointerx/CHANGELOG.md
  packages/js/jsonpointerx/package.json
Due: jsonpointerx

build: improved changelog
  build/src/changelog.ts
  build/src/utils/app.ts
  build/src/utils/git/log.ts
Due: none

release: format package.json
  packages/js/jsonpointerx/package.json
  packages/node/@homeofthings/nestjs-config/package.json
  packages/node/@homeofthings/nestjs-logger/package.json
  packages/node/@homeofthings/nestjs-sqlite3/package.json
  packages/node/@homeofthings/nestjs-utils/package.json
  packages/node/@homeofthings/node-sys/package.json
  packages/node/@homeofthings/node-utils/package.json
  packages/node/sqlite3orm/package.json
Due: jsonpointerx, sqlite3orm, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

build: format package.json on version bump
  build/src/utils/file.ts
Due: none

build: package-lock.json
  package-lock.json
Due: none

chore: upgraded dependencies
  .env
  .npm-upgrade.json
  nx.json
  package-lock.json
  package.json
  packages/js/jsonpointerx/project.json
  packages/node/@homeofthings/hot-cli/project.json
  packages/node/@homeofthings/hot-gateway/project.json
  packages/node/@homeofthings/hot-server/project.json
  packages/node/@homeofthings/nestjs-config/project.json
  packages/node/@homeofthings/nestjs-logger/project.json
  packages/node/@homeofthings/nestjs-sqlite3/project.json
  packages/node/@homeofthings/nestjs-utils/project.json
  packages/node/@homeofthings/node-sys/project.json
  packages/node/@homeofthings/node-utils/project.json
  packages/node/asyncctx/project.json
  packages/node/sqlite3orm/project.json
Due: jsonpointerx, sqlite3orm, asyncctx, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

chore: fix lint errors after dependencies have been upgraded
  .eslintrc.json
  .github/workflows/build.yml
  .npm-upgrade.json
  build/src/utils/app.ts
  packages/node/@homeofthings/node-sys/src/lib/process/options.ts
  packages/node/@homeofthings/node-utils/src/lib/util/stream-strings.ts
  packages/node/@homeofthings/node-utils/src/lib/util/wait.ts
  packages/node/sqlite3orm/src/lib/core/SqlBackup.ts
  packages/node/sqlite3orm/src/lib/core/SqlConnectionPool.ts
  packages/node/sqlite3orm/src/lib/core/SqlDatabase.ts
  packages/node/sqlite3orm/src/lib/spec/metadata/decorators.spec.ts
  packages/node/sqlite3orm/src/lib/spec/query/issue74.spec.ts
Due: sqlite3orm

chore: upgraded github actions
  .github/workflows/build.yml
Due: none

chore: downgraded codecov github actions
  .github/workflows/build.yml
Due: none

chore: upgrade codecov github action to v3
  .github/workflows/build.yml
Due: none

chore: npm audit fix
  package-lock.json
Due: none

chore: upgraded dependencies, removed @types/helmet, fixed 'husky install' deprecation
  package-lock.json
  package.json
Due: none

docs: improved
  README.md
  TODO.md
  docs/DEVELOP.md
Due: none

chore: upgraded dependencies
  package.json
Due: none
