Repository gms1/HomeOfThings: changes, and which Codecov flags are due for each by the changed paths.
All: jsonpointerx, sqlite3orm, asyncctx, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

build: using nx:run-command for publishing provided by build project
  build/src/publish.ts
  build/src/validate-projects.ts
  build/src/version-bump.ts
  packages/js/jsonpointerx/project.json
  packages/node/@homeofthings/hot-cli/project.json
  packages/node/@homeofthings/hot-gateway/project.json
  packages/node/@homeofthings/hot-server/project.json
  packages/node/@homeofthings/nestjs-config/project.json
  packages/node/@homeofthings/nestjs-logger/project.json
  packages/node/@homeofthings/nestjs-sqlite3/project.json
  packages/node/@homeofthings/nestjs-utils/project.json
  packages/node/@homeofthings/node-sys/project.json
  packages/node/asyncctx/project.json
  packages/node/sqlite3orm/project.json
Due: jsonpointerx, sqlite3orm, asyncctx, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

build: using nx:run-command for publishing provided by build project
  build/src/version-bump.ts
Due: none

build: changed all output to dist/packages and fixed outDir in tsConfig.jsons
  build/.env
  build/jest.config.ts
  build/src/validate-projects.ts
  packages/js/jsonpointerx/project.json
  packages/js/jsonpointerx/tsconfig.lib.json
  packages/js/jsonpointerx/tsconfig.spec.json
  packages/node/@homeofthings/hot-cli/project.json
  packages/node/@homeofthings/hot-cli/tsconfig.lib.json
  packages/node/@homeofthings/hot-cli/tsconfig.spec.json
  packages/node/@homeofthings/hot-gateway/package.json
  packages/node/@homeofthings/hot-gateway/project.json
  packages/node/@homeofthings/hot-gateway/tsconfig.lib.json
  packages/node/@homeofthings/hot-gateway/tsconfig.spec.json
  packages/node/@homeofthings/hot-server/project.json
  packages/node/@homeofthings/hot-server/tsconfig.lib.json
  packages/node/@homeofthings/hot-server/tsconfig.spec.json
  packages/node/@homeofthings/nestjs-config/project.json
  packages/node/@homeofthings/nestjs-config/tsconfig.lib.json
  packages/node/@homeofthings/nestjs-config/tsconfig.spec.json
  packages/node/@homeofthings/nestjs-logger/project.json
  packages/node/@homeofthings/nestjs-logger/tsconfig.lib.json
  packages/node/@homeofthings/nestjs-logger/tsconfig.spec.json
  packages/node/@homeofthings/nestjs-sqlite3/project.json
  packages/node/@homeofthings/nestjs-sqlite3/tsconfig.lib.json
  packages/node/@homeofthings/nestjs-sqlite3/tsconfig.spec.json
  packages/node/@homeofthings/nestjs-utils/project.json
  packages/node/@homeofthings/nestjs-utils/tsconfig.lib.json
  packages/node/@homeofthings/nestjs-utils/tsconfig.spec.json
  packages/node/@homeofthings/node-sys/project.json
  packages/node/@homeofthings/node-sys/tsconfig.lib.json
  packages/node/@homeofthings/node-sys/tsconfig.spec.json
  packages/node/asyncctx/project.json
  packages/node/asyncctx/tsconfig.lib.json
  packages/node/asyncctx/tsconfig.spec.json
  packages/node/sqlite3orm/project.json
  packages/node/sqlite3orm/tsconfig.lib.json
  packages/node/sqlite3orm/tsconfig.spec.json
  tools/benchmarks/jsonpointerx/package.json
Due: jsonpointerx, sqlite3orm, asyncctx, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

build: package upgrade
  .verdaccio/config.yml
  build/sh/package-upgrade
  package-lock.json
  package.json
Due: none

build: using global npm-upgrade
  .npm-upgrade.json
  build/sh/package-upgrade
  package-lock.json
  package.json
Due: none

build: missing packages
  .npm-upgrade.json
  build/.eslintrc.json
  build/package.json
  build/src/utils/glob.ts
  build/src/version-bump.ts
  package-lock.json
  package.json
Due: none

build: commitlint, package upgrade
  .husky/commit-msg
  .husky/pre-commit
  .npm-upgrade.json
  build/sh/package-upgrade
  build/src/publish.ts
  commitlint.config.js
  package-lock.json
  package.json
  packages/node/asyncctx/CHANGELOG.md
  packages/node/asyncctx/README.md
Due: asyncctx

chore: upgrade dependencies
  package-lock.json
  package.json
Due: none

build: commit linter
  commitlint.config.js
Due: none

refactor: reading from stdout/stderr and writing to stdin for spawned process
  packages/node/@homeofthings/node-sys/src/lib/process/exec.ts
  packages/node/@homeofthings/node-sys/src/lib/process/options.ts
  packages/node/@homeofthings/node-sys/src/lib/process/pipe.ts
  packages/node/@homeofthings/node-sys/src/lib/process/spawn.ts
  packages/node/@homeofthings/node-sys/src/lib/util/stream-strings.ts
  packages/node/@homeofthings/node-sys/src/lib/util/stream.ts
  packages/node/@homeofthings/node-sys/src/lib/util/types/is.ts
Due: none

docs: readme for develop
  docs/DEVELOP.md
  docs/README.md
Due: none

refactor: node-sys
  packages/node/@homeofthings/node-sys/src/index.ts
  packages/node/@homeofthings/node-sys/src/lib/fs/index.ts
  packages/node/@homeofthings/node-sys/src/lib/log/command.ts
  packages/node/@homeofthings/node-sys/src/lib/log/index.ts
  packages/node/@homeofthings/node-sys/src/lib/log/log.ts
  packages/node/@homeofthings/node-sys/src/lib/log/logger.ts
  packages/node/@homeofthings/node-sys/src/lib/process/error.ts
  packages/node/@homeofthings/node-sys/src/lib/process/exec.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/process/exec.ts
  packages/node/@homeofthings/node-sys/src/lib/process/options.ts
  packages/node/@homeofthings/node-sys/src/lib/process/pipe.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/process/pipe.ts
  packages/node/@homeofthings/node-sys/src/lib/process/spawn.ts
Due: none

docs: cleanup
  docs/DEVELOP.md
Due: none

build: upstream changes
  build/src/merge-coverage.ts
  build/src/publish.ts
  build/src/validate-projects.ts
  build/src/version-bump.ts
Due: none

refactor: moved non-nestjs related utilities to @homeofthings/node-sys
  packages/node/@homeofthings/hot-gateway/package.json
  packages/node/@homeofthings/hot-gateway/src/main.ts
  packages/node/@homeofthings/hot-server/package.json
  packages/node/@homeofthings/hot-server/src/lib/user/user-ssession.service.ts
  packages/node/@homeofthings/nestjs-sqlite3/package.json
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/model/index.ts
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/service/connection-manager.spec.ts
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/service/connection-manager.ts
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/test/mocks/node-sys.ts
  packages/node/@homeofthings/nestjs-utils/README.md
  packages/node/@homeofthings/nestjs-utils/package.json
  packages/node/@homeofthings/nestjs-utils/src/index.ts
  packages/node/@homeofthings/nestjs-utils/src/lib/model/common-types.ts
  packages/node/@homeofthings/nestjs-utils/src/lib/model/index.ts
  packages/node/@homeofthings/node-sys/src/index.ts
  packages/node/@homeofthings/node-sys/src/lib/async-context/async-context.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/async-context/async-context.ts
  packages/node/@homeofthings/node-sys/src/lib/async-context/index.ts
  packages/node/@homeofthings/node-sys/src/lib/file/index.ts
  packages/node/@homeofthings/node-sys/src/lib/file/write-file-if-changed.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/file/write-file-if-changed.ts
  packages/node/@homeofthings/node-sys/src/lib/util/index.ts
  packages/node/@homeofthings/node-sys/src/lib/util/lru-cache/index.ts
  packages/node/@homeofthings/node-sys/src/lib/util/lru-cache/lru-cache.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/util/lru-cache/lru-cache.ts
  packages/node/@homeofthings/node-sys/src/lib/util/types/common.ts
  packages/node/@homeofthings/node-sys/src/lib/util/types/index.ts
  packages/node/@homeofthings/node-sys/src/lib/util/types/mixin-target.ts
Due: nestjs-utils, nestjs-sqlite3

build: fixed hidden error when parsing json failed
  build/src/validate-projects.ts
Due: none

refactor: logger
  packages/node/@homeofthings/node-sys/src/lib/log/command.ts
  packages/node/@homeofthings/node-sys/src/lib/log/log.ts
  packages/node/@homeofthings/node-sys/src/lib/log/logger.ts
Due: none

refactor: moved non-nestjs related utilities to @homeofthings/node-sys
  packages/node/@homeofthings/nestjs-logger/src/lib/logger.service.ts
  packages/node/@homeofthings/nestjs-logger/src/lib/winston/winston-logger.ts
  packages/node/@homeofthings/nestjs-utils/src/index.ts
Due: nestjs-utils, nestjs-logger

test: node-sys
  packages/node/@homeofthings/node-sys/src/lib/fs/index.integration.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/fs/index.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/process/exec.integration.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/process/pipe.integration.spec.ts
Due: none

docs: document publishing multiple packages at once
  docs/DEVELOP.md
Due: none

test: improved testing
  packages/node/@homeofthings/nestjs-config/src/lib/config.service.spec.ts
  packages/node/@homeofthings/nestjs-logger/src/lib/winston/winston.logger.spec.ts
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/service/connection-manager.spec.ts
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/service/entity-manager.spec.ts
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/service/repository.spec.ts
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/service/sqlite3-interceptor.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/file/write-file-if-changed.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/fs/index.integration.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/fs/index.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/fs/index.ts
  packages/node/@homeofthings/node-sys/src/lib/process/exec.ts
  packages/node/@homeofthings/node-sys/src/lib/process/pipe.integration.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/process/pipe.ts
  packages/node/@homeofthings/node-sys/src/lib/process/spawn.ts
  packages/node/@homeofthings/node-sys/src/lib/util/quote.ts
  packages/node/@homeofthings/node-sys/src/lib/util/sequentialize.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/util/stream-strings.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/util/stream-strings.ts
  packages/node/@homeofthings/node-sys/src/lib/util/wait.spec.ts
Due: nestjs-config, nestjs-logger, nestjs-sqlite3

build: upload coverage report for node-sys
  .github/workflows/build.yml
  codecov.yml
Due: none

test: improved coverage
  packages/node/@homeofthings/node-sys/src/lib/async-context/async-context.ts
  packages/node/@homeofthings/node-sys/src/lib/file/write-file-if-changed.ts
  packages/node/@homeofthings/node-sys/src/lib/fs/index.integration.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/log/command.ts
  packages/node/@homeofthings/node-sys/src/lib/log/log.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/log/log.ts
  packages/node/@homeofthings/node-sys/src/lib/process/error.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/process/error.ts
  packages/node/@homeofthings/node-sys/src/lib/process/exec.integration.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/process/exec.ts
  packages/node/@homeofthings/node-sys/src/lib/process/pipe.integration.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/process/spawn.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/process/spawn.ts
  packages/node/@homeofthings/node-sys/src/lib/util/lru-cache/lru-cache.spec.ts
Due: none

test: fixed deprecations
  packages/node/@homeofthings/nestjs-config/src/lib/config.service.spec.ts
  packages/node/@homeofthings/nestjs-logger/src/lib/winston/winston.logger.spec.ts
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/service/connection-manager.spec.ts
Due: nestjs-config, nestjs-logger, nestjs-sqlite3

feat: file-system related functions: input parameter as promise of string array
  packages/node/@homeofthings/node-sys/src/lib/fs/index.integration.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/fs/index.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/fs/index.ts
Due: none

docs: added badges to README.md
  packages/node/@homeofthings/node-sys/README.md
  packages/node/@homeofthings/node-utils/README.md
Due: none

fix: prefix for debug
  packages/node/@homeofthings/nestjs-config/src/lib/config.service.ts
  packages/node/@homeofthings/nestjs-logger/src/lib/winston/winston-logger.ts
  packages/node/@homeofthings/node-sys/src/lib/log/command.ts
  packages/node/@homeofthings/node-sys/src/lib/process/error.ts
  packages/node/@homeofthings/node-sys/src/lib/process/spawn.ts
Due: nestjs-config, nestjs-logger

feat: debug in node-utils
  packages/node/@homeofthings/node-utils/package.json
  packages/node/@homeofthings/node-utils/src/lib/log/log.ts
Due: none

fix!: mandatory default value for constructor of AsyncContext
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/service/connection-manager.ts
  packages/node/@homeofthings/node-utils/src/lib/async-context/async-context.ts
Due: nestjs-sqlite3

style: use implicit type annotation
  packages/node/@homeofthings/hot-server/src/lib/user/user-ssession.service.ts
Due: none

feat: generic type for key of LruCache
  packages/node/@homeofthings/node-utils/src/lib/lru-cache/lru-cache.ts
Due: none

docs: added TODOs
  packages/node/sqlite3orm/src/lib/utils/sequentialize.ts
  packages/node/sqlite3orm/src/lib/utils/wait.ts
Due: sqlite3orm

build: enabled strictNullChecks per default
  build/src/publish.ts
  build/src/utils/glob.ts
  packages/node/@homeofthings/hot-cli/tsconfig.spec.json
  packages/node/@homeofthings/hot-gateway/src/express/express-application.ts
  packages/node/@homeofthings/hot-gateway/tsconfig.spec.json
  packages/node/@homeofthings/hot-server/tsconfig.spec.json
  packages/node/@homeofthings/nestjs-config/tsconfig.spec.json
  packages/node/@homeofthings/nestjs-logger/tsconfig.spec.json
  packages/node/@homeofthings/nestjs-sqlite3/tsconfig.spec.json
  packages/node/@homeofthings/nestjs-utils/tsconfig.spec.json
  packages/node/@homeofthings/node-sys/src/lib/fs/index.ts
  packages/node/@homeofthings/node-sys/src/lib/process/exec.ts
  packages/node/@homeofthings/node-sys/src/lib/process/pipe.ts
  packages/node/@homeofthings/node-sys/tsconfig.spec.json
  packages/node/@homeofthings/node-utils/src/lib/util/stream-strings.ts
  packages/node/@homeofthings/node-utils/tsconfig.spec.json
  packages/node/asyncctx/tsconfig.lib.json
  packages/node/asyncctx/tsconfig.spec.json
  packages/node/sqlite3orm/tsconfig.spec.json
Due: sqlite3orm, asyncctx, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

build: enabled strictPropertyInitialization per default
  packages/node/@homeofthings/node-utils/src/lib/util/stream-strings.ts
  packages/node/asyncctx/tsconfig.lib.json
  packages/node/asyncctx/tsconfig.spec.json
Due: asyncctx

build: enabled strict
  build/src/utils/app.ts
  build/typings/lcov-total.d.ts
  package-lock.json
  package.json
  packages/node/@homeofthings/hot-cli/src/main.ts
  packages/node/@homeofthings/hot-gateway/src/express/express-application.ts
  packages/node/@homeofthings/hot-gateway/src/main.ts
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/service/connection-manager.spec.ts
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/service/entity-manager.spec.ts
  packages/node/@homeofthings/node-utils/src/lib/util/types/is.ts
  packages/node/sqlite3orm/src/lib/AutoUpgrader.ts
  packages/node/sqlite3orm/src/lib/BaseDAO.ts
  packages/node/sqlite3orm/src/lib/core/SqlConnectionPool.ts
  packages/node/sqlite3orm/src/lib/metadata/MetaModel.ts
  packages/node/sqlite3orm/src/lib/metadata/MetaProperty.ts
  packages/node/sqlite3orm/src/lib/query/QueryModel.ts
  packages/node/sqlite3orm/src/lib/spec/BaseDAO.spec.ts
  packages/node/sqlite3orm/src/lib/spec/metadata/MetaModel.spec.ts
  packages/node/sqlite3orm/src/lib/spec/metadata/MultiDecoratorsPerModel.spec.ts
  packages/node/sqlite3orm/src/lib/spec/metadata/Schema.spec.ts
  packages/node/sqlite3orm/src/lib/test/index.ts
  tsconfig.base.json
Due: sqlite3orm, nestjs-sqlite3

build: enabled more compiler checks
  packages/node/sqlite3orm/src/lib/core/SqlConnectionPoolDatabase.ts
  packages/node/sqlite3orm/src/lib/spec/AutoUpgrader.spec.ts
  packages/node/sqlite3orm/src/lib/spec/AutoUpgraderUpgradeInfo.spec.ts
  tsconfig.base.json
Due: sqlite3orm

docs: readme
  README.md
  packages/node/@homeofthings/node-utils/README.md
Due: none

build: set versions for dependencies on version-bump, dry-run for publishing
  .vscode/settings.json
  build/package.json
  build/project.json
  build/src/main.ts
  build/src/publish.ts
  build/src/utils/app.ts
  build/src/validate-projects.ts
  build/src/version-bump.ts
  docs/DEVELOP.md
  packages/js/jsonpointerx/project.json
  packages/node/@homeofthings/hot-cli/project.json
  packages/node/@homeofthings/hot-gateway/project.json
  packages/node/@homeofthings/hot-server/project.json
  packages/node/@homeofthings/nestjs-config/project.json
  packages/node/@homeofthings/nestjs-logger/project.json
  packages/node/@homeofthings/nestjs-sqlite3/project.json
  packages/node/@homeofthings/nestjs-utils/project.json
  packages/node/@homeofthings/node-sys/project.json
  packages/node/@homeofthings/node-utils/project.json
  packages/node/asyncctx/project.json
  packages/node/sqlite3orm/project.json
Due: jsonpointerx, sqlite3orm, asyncctx, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

Path conditions:
  jsonpointerx: any of: packages/js/jsonpointerx
  sqlite3orm: any of: packages/node/sqlite3orm
  asyncctx: any of: packages/node/asyncctx
  nestjs-utils: any of: packages/node/@homeofthings/nestjs-utils
  nestjs-config: any of: packages/node/@homeofthings/nestjs-config
  nestjs-logger: any of: packages/node/@homeofthings/nestjs-logger
  nestjs-sqlite3: any of: packages/node/@homeofthings/nestjs-sqlite3
