Repository gms1/HomeOfThings: changes, and which Codecov flags are due for each by the changed paths.
All: jsonpointerx, sqlite3orm, asyncctx, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

test: added missing unit tests
  packages/node/@homeofthings/node-utils/src/lib/util/quote.spec.ts
Due: none

build: check if publishable package has keywords defined in package.json
  build/src/publish.ts
  docs/DEVELOP.md
Due: none

build: more checks on version-bump and publish
  build/src/publish.ts
  build/src/validate-projects.ts
  build/src/version-bump.ts
  packages/js/jsonpointerx/package.json
  packages/node/asyncctx/package.json
  packages/node/sqlite3orm/package.json
Due: jsonpointerx, sqlite3orm, asyncctx

release: node-utils version 1.0.0
  packages/node/@homeofthings/node-utils/CHANGELOG.md
  packages/node/@homeofthings/node-utils/package.json
Due: none

release: node-sys version 1.0.0
  packages/node/@homeofthings/node-sys/CHANGELOG.md
  packages/node/@homeofthings/node-sys/package.json
Due: none

build: publish
  docs/DEVELOP.md
  package.json
Due: none

build: publish
  build/src/publish.ts
  build/src/validate-projects.ts
  build/src/version-bump.ts
  docs/DEVELOP.md
Due: none

fix: if config options are not explicitly set, node-config may use different settings than expected
  packages/node/@homeofthings/nestjs-config/src/lib/config.service.spec.ts
  packages/node/@homeofthings/nestjs-config/src/lib/config.service.ts
Due: nestjs-config

build: missing support-colors as dependency
  .npm-upgrade.json
  package-lock.json
  package.json
Due: none

feat: additional exports
  packages/node/@homeofthings/nestjs-logger/src/index.ts
Due: nestjs-logger

docs: fixed type
  packages/node/sqlite3orm/README.md
Due: sqlite3orm

chore: upgraded dependencies
  package-lock.json
  package.json
Due: none

release: sqlite3orm version 2.7.1
  packages/node/sqlite3orm/CHANGELOG.md
  packages/node/sqlite3orm/package.json
Due: sqlite3orm

release: nestjs-config version 2.0.1
  packages/node/@homeofthings/nestjs-config/CHANGELOG.md
  packages/node/@homeofthings/nestjs-config/package.json
Due: nestjs-config

release: nestjs-logger version 2.0.1
  packages/node/@homeofthings/nestjs-logger/CHANGELOG.md
  packages/node/@homeofthings/nestjs-logger/package.json
Due: nestjs-logger

release: nestjs-sqlite3 version 2.0.1
  packages/node/@homeofthings/nestjs-sqlite3/CHANGELOG.md
  packages/node/@homeofthings/nestjs-sqlite3/package.json
Due: nestjs-sqlite3

chore: missing dependency rxjs
  .npm-upgrade.json
  package-lock.json
  package.json
Due: none

release: nestjs-sqlite3 version 2.0.1
  packages/node/@homeofthings/nestjs-sqlite3/package.json
Due: nestjs-sqlite3

release: asyncctx version 2.1.1
  packages/node/asyncctx/CHANGELOG.md
  packages/node/asyncctx/package.json
Due: asyncctx

release: asyncctx version 2.1.1
  packages/node/asyncctx/package.json
Due: asyncctx

build: support for deprecating packages marked by 'deprecated' property in package.json
  build/src/publish.ts
Due: none

style: removed or changed position for some TODOs
  packages/node/sqlite3orm/src/lib/BaseDAO.ts
  packages/node/sqlite3orm/src/lib/core/SqlBackup.ts
Due: sqlite3orm

refactor: using sequentialize and wait from node-utils
  packages/node/sqlite3orm/package.json
  packages/node/sqlite3orm/src/lib/AutoUpgrader.ts
  packages/node/sqlite3orm/src/lib/core/SqlConnectionPool.ts
  packages/node/sqlite3orm/src/lib/utils/index.ts
  packages/node/sqlite3orm/src/lib/utils/sequentialize.ts
  packages/node/sqlite3orm/src/lib/utils/wait.ts
Due: sqlite3orm

style: fixed comment
  packages/node/sqlite3orm/src/lib/core/SqlBackup.ts
  packages/node/sqlite3orm/src/lib/core/SqlDatabase.ts
Due: sqlite3orm

release: nestjs-utils version 2.0.1
  packages/node/@homeofthings/nestjs-utils/CHANGELOG.md
  packages/node/@homeofthings/nestjs-utils/package.json
Due: nestjs-utils

release: jsonpointerx version 1.2.0
  packages/js/jsonpointerx/CHANGELOG.md
Due: jsonpointerx

build: changelogs and refactoring
  build/project.json
  build/src/changelogs.ts
  build/src/publish.ts
  build/src/utils/projects/enrich.ts
  build/src/utils/projects/model/project.ts
  build/src/validate-projects.ts
  package.json
Due: none

build: changelog and take it into account in version-bump for incrementing the version
  build/src/changelogs.ts
  build/src/utils/git/log.ts
  build/src/utils/git/model/commit.ts
  build/src/version-bump.ts
  commitlint.config.js
  docs/DEVELOP.md
  package.json
Due: none

docs: todos
  TODO.md
Due: none

build: defined 'refactor' as a changelog relevant commit type
  build/src/utils/git/model/commit.ts
Due: none

refactor: partially enabled compiler option 'noUncheckedIndexedAccess'
  build/src/utils/git/log.ts
  build/src/version-bump.ts
  docs/DEVELOP.md
  packages/js/jsonpointerx/tsconfig.json
  packages/node/@homeofthings/nestjs-logger/src/lib/winston/winston-format.ts
  packages/node/@homeofthings/nestjs-sqlite3/tsconfig.json
  packages/node/@homeofthings/node-sys/src/lib/process/pipe.ts
  packages/node/sqlite3orm/tsconfig.json
  tsconfig.base.json
Due: jsonpointerx, sqlite3orm, nestjs-logger, nestjs-sqlite3

style: enabled compiler option forceConsistentCasingInFileNames
  tsconfig.base.json
Due: none

build: enabled regular expression DoS (ReDoS) lint rule
  .eslintrc.json
  build/src/utils/git/log.ts
  package-lock.json
  package.json
  packages/node/sqlite3orm/src/lib/metadata/Field.ts
Due: sqlite3orm

build: compiler options
  packages/node/@homeofthings/nestjs-sqlite3/tsconfig.spec.json
  packages/node/asyncctx/tsconfig.json
  packages/node/asyncctx/tsconfig.lib.json
  packages/node/asyncctx/tsconfig.spec.json
Due: asyncctx, nestjs-sqlite3

style: using eslint-plugin-simple-import-sort instead of eslint-plugin-import
  packages/node/@homeofthings/nestjs-utils/src/index.ts
  packages/node/@homeofthings/nestjs-utils/src/lib/dynamic-root/dynamic-root.module-multiple.spec.ts
  packages/node/@homeofthings/nestjs-utils/src/lib/model/common-types.ts
  packages/node/@homeofthings/nestjs-utils/src/lib/model/index.ts
  packages/node/@homeofthings/node-utils/src/index.ts
  packages/node/@homeofthings/node-utils/src/lib/log/index.ts
  packages/node/@homeofthings/node-utils/src/lib/util/index.ts
  packages/node/@homeofthings/node-utils/src/lib/util/types/index.ts
Due: nestjs-utils

chore: defined rxjs and @nestjs/core, @nestjs/common and @nestjs/platform-express as peer dependencies
  build/src/version-bump.ts
  commitlint.config.js
  docs/DEVELOP.md
  package.json
  packages/node/@homeofthings/hot-cli/package.json
  packages/node/@homeofthings/hot-gateway/package.json
  packages/node/@homeofthings/hot-server/package.json
  packages/node/@homeofthings/nestjs-config/package.json
  packages/node/@homeofthings/nestjs-logger/package.json
  packages/node/@homeofthings/nestjs-sqlite3/package.json
  packages/node/@homeofthings/nestjs-utils/package.json
Due: nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

build: changelog for projects
  build/project.json
  build/src/changelog.ts
  build/src/utils/git/log.ts
  build/src/utils/git/model/commit.ts
  build/src/validate-projects.ts
  package.json
  packages/js/jsonpointerx/project.json
  packages/node/@homeofthings/hot-cli/project.json
  packages/node/@homeofthings/hot-gateway/project.json
  packages/node/@homeofthings/hot-server/project.json
  packages/node/@homeofthings/nestjs-config/project.json
  packages/node/@homeofthings/nestjs-logger/project.json
  packages/node/@homeofthings/nestjs-sqlite3/project.json
  packages/node/@homeofthings/nestjs-utils/project.json
  packages/node/@homeofthings/node-sys/project.json
  packages/node/@homeofthings/node-utils/project.json
  packages/node/asyncctx/project.json
  packages/node/sqlite3orm/project.json
Due: jsonpointerx, sqlite3orm, asyncctx, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

Path conditions:
  jsonpointerx: any of: packages/js/jsonpointerx
  sqlite3orm: any of: packages/node/sqlite3orm
  asyncctx: any of: packages/node/asyncctx
  nestjs-utils: any of: packages/node/@homeofthings/nestjs-utils
  nestjs-config: any of: packages/node/@homeofthings/nestjs-config
  nestjs-logger: any of: packages/node/@homeofthings/nestjs-logger
  nestjs-sqlite3: any of: packages/node/@homeofthings/nestjs-sqlite3
