Repository gms1/HomeOfThings: changes, and which Codecov flags are due for each by the changed paths.
All: jsonpointerx, sqlite3orm, asyncctx, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

codecov.yml:

flags:
  jsonpointerx:
    paths:
      - packages/js/jsonpointerx
  sqlite3orm:
    paths:
      - packages/node/sqlite3orm
  asyncctx:
    paths:
      - packages/node/asyncctx
  nestjs-utils:
    paths:
      - packages/node/@homeofthings/nestjs-utils
  nestjs-config:
    paths:
      - packages/node/@homeofthings/nestjs-config
  nestjs-logger:
    paths:
      - packages/node/@homeofthings/nestjs-logger
  nestjs-sqlite3:
    paths:
      - packages/node/@homeofthings/nestjs-sqlite3

# To see status checks based on flags
coverage:
  status:
    project:
      jsonpointerx:
        flags:
          - jsonpointerx
      sqlite3orm:
        flags:
          - sqlite3orm
      asyncctx:
        flags:
          - asyncctx
      nestjs-utils:
        flags:
          - nestjs-utils
      nestjs-config:
        flags:
          - nestjs-config
      nestjs-logger:
        flags:
          - nestjs-logger
      nestjs-sqlite3:
        flags:
          - nestjs-sqlite3

chore: upgraded dependencies
  docs/DEVELOP.md
  nx.json
  package-lock.json
  package.json
Due: none

chore: upgraded dependencies
  docs/DEVELOP.md
  package-lock.json
  package.json
Due: none

chore: added missing npm-upgrade dev dependency
  package-lock.json
  package.json
Due: none

chore: upgraded dependencies
  package-lock.json
  package.json
Due: none

chore: upgraded dependencies
  .npm-upgrade.json
  docs/DEVELOP.md
  package-lock.json
  package.json
Due: none

chore: upgrade codecov action
  .github/workflows/build.yml
Due: none

fix(typo): change ceeate to create
  packages/node/@homeofthings/nestjs-sqlite3/README.md
Due: nestjs-sqlite3

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

build: package upgrade
  .eslintrc.json
  .gitignore
  .prettierignore
  jest.config.ts
  nx.json
  package-lock.json
  package.json
Due: none

chore: upgrade dependencies
  .npm-upgrade.json
  package-lock.json
  package.json
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/service/entity-manager.ts
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/service/repository.ts
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/test/integration/fixtures/service/contact.entity-manager.service.ts
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/test/integration/fixtures/service/contact.repository.service.ts
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/test/integration/fixtures/service/user.entity-manager.service.ts
  packages/node/@homeofthings/nestjs-sqlite3/src/lib/test/integration/fixtures/service/user.repository.service.ts
  packages/node/@homeofthings/node-sys/package.json
  packages/node/@homeofthings/node-sys/src/lib/fs/index.ts
  packages/node/asyncctx/src/lib/spec/asynchronous.spec.ts
  packages/node/asyncctx/src/lib/spec/continuation.spec.ts
  packages/node/sqlite3orm/src/lib/BaseDAO.ts
  packages/node/sqlite3orm/src/lib/metadata/decorators.ts
  packages/node/sqlite3orm/src/lib/query/QueryCondition.ts
  packages/node/sqlite3orm/src/lib/query/QueryModel.ts
  packages/node/sqlite3orm/src/lib/query/QueryModelBase.ts
  packages/node/sqlite3orm/src/lib/query/QueryModelPredicates.ts
  packages/node/sqlite3orm/src/lib/query/QueryOperation.ts
  packages/node/sqlite3orm/src/lib/query/QueryPropertyPredicate.ts
Due: sqlite3orm, asyncctx, nestjs-sqlite3

release: jsonpointerx version 1.2.2
  docs/DEVELOP.md
  packages/js/jsonpointerx/package.json
Due: jsonpointerx

release: asyncctx version 2.1.2
  docs/DEVELOP.md
  packages/node/asyncctx/package.json
Due: asyncctx

release: node-utils version 1.0.2
  packages/node/@homeofthings/node-utils/package.json
Due: none

release: node-sys version 1.0.2
  packages/node/@homeofthings/node-sys/package.json
Due: none

release: sqlite3orm version 2.7.3
  packages/node/sqlite3orm/package.json
Due: sqlite3orm

release: nestjs-utils version 2.0.3
  packages/node/@homeofthings/nestjs-utils/package.json
Due: nestjs-utils

release: nestjs-config version 2.1.1
  packages/node/@homeofthings/nestjs-config/package.json
Due: nestjs-config

release: nestjs-logger version 2.0.3
  packages/node/@homeofthings/nestjs-logger/package.json
Due: nestjs-logger

release: nestjs-sqlite3 version 2.0.3
  packages/node/@homeofthings/nestjs-sqlite3/package.json
Due: nestjs-sqlite3

release: changelogs
  docs/DEVELOP.md
  packages/js/jsonpointerx/CHANGELOG.md
  packages/node/@homeofthings/nestjs-config/CHANGELOG.md
  packages/node/@homeofthings/nestjs-logger/CHANGELOG.md
  packages/node/@homeofthings/nestjs-sqlite3/CHANGELOG.md
  packages/node/@homeofthings/nestjs-utils/CHANGELOG.md
  packages/node/@homeofthings/node-sys/CHANGELOG.md
  packages/node/@homeofthings/node-utils/CHANGELOG.md
  packages/node/asyncctx/CHANGELOG.md
  packages/node/sqlite3orm/CHANGELOG.md
Due: jsonpointerx, sqlite3orm, asyncctx, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

release: jsonpointerx version 1.2.2
  packages/js/jsonpointerx/package.json
  tools/benchmarks/jsonpointerx/package-lock.json
  tools/benchmarks/jsonpointerx/package.json
  tools/benchmarks/jsonpointerx/tsconfig.json
Due: jsonpointerx

build: improvements
  .husky/commit-msg
  .husky/pre-commit
  build/project.json
  docs/API.md
  docs/DEVELOP.md
  docs/ISSUS.md
  docs/NOTES.md
  nx.json
  packages/js/jsonpointerx/package.json
  packages/js/jsonpointerx/project.json
  packages/node/@homeofthings/hot-cli/project.json
  packages/node/@homeofthings/hot-gateway/project.json
  packages/node/@homeofthings/hot-server/project.json
  packages/node/@homeofthings/nestjs-config/project.json
  packages/node/@homeofthings/nestjs-logger/project.json
  packages/node/@homeofthings/nestjs-sqlite3/project.json
  packages/node/@homeofthings/nestjs-utils/project.json
  packages/node/@homeofthings/node-sys/project.json
  packages/node/@homeofthings/node-utils/project.json
  packages/node/asyncctx/project.json
  packages/node/sqlite3orm/project.json
Due: jsonpointerx, sqlite3orm, asyncctx, nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

build: fixed jsonpointerx bench
  packages/js/jsonpointerx/package.json
Due: jsonpointerx

chore: upgrade dependencies
  .eslintrc.json
  .npm-upgrade.json
  docs/NOTES.md
  package-lock.json
  package.json
  packages/node/@homeofthings/nestjs-logger/src/lib/winston/winston-format.ts
  packages/node/@homeofthings/node-utils/src/lib/lru-cache/lru-cache.ts
  packages/node/sqlite3orm/src/lib/metadata/Field.ts
  tools/benchmarks/jsonpointerx/package-lock.json
  tools/benchmarks/jsonpointerx/package.json
Due: sqlite3orm, nestjs-logger

release: jsonpointerx 1.2.3
  packages/js/jsonpointerx/CHANGELOG.md
  packages/js/jsonpointerx/package.json
Due: jsonpointerx

release: @homeofthings/nestjs-config 2.1.2
  packages/node/@homeofthings/nestjs-config/CHANGELOG.md
  packages/node/@homeofthings/nestjs-config/package.json
Due: nestjs-config

release: @homeofthings/nestjs-logger 2.0.4
  packages/node/@homeofthings/nestjs-logger/CHANGELOG.md
  packages/node/@homeofthings/nestjs-logger/package.json
Due: nestjs-logger

release: @homeofthings/nestjs-sqlite 2.0.4
  packages/node/@homeofthings/nestjs-sqlite3/CHANGELOG.md
  packages/node/@homeofthings/nestjs-sqlite3/package.json
Due: nestjs-sqlite3

release: @homeofthings/nestjs-utils 2.0.4
  packages/node/@homeofthings/nestjs-utils/CHANGELOG.md
  packages/node/@homeofthings/nestjs-utils/package.json
Due: nestjs-utils

release: @homeofthings/nestjs-sys 1.0.3
  packages/node/@homeofthings/node-sys/CHANGELOG.md
  packages/node/@homeofthings/node-sys/package.json
Due: none

release: @homeofthings/node-utils 1.0.3
  packages/node/@homeofthings/node-utils/CHANGELOG.md
  packages/node/@homeofthings/node-utils/package.json
Due: none

release: asyncctx 2.1.3
  packages/node/asyncctx/CHANGELOG.md
  packages/node/asyncctx/package.json
Due: asyncctx

release: sqlite3orm 2.7.4
  packages/node/sqlite3orm/CHANGELOG.md
  packages/node/sqlite3orm/package.json
Due: sqlite3orm

chore: package upgrade
  package-lock.json
  package.json
Due: none
