Repository gms1/HomeOfThings: changes, and which Codecov flags are due for each by the changed paths.
All: nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

codecov.yml:

flags:
  nestjs-utils:
    paths:
      - projects/node/libs/nestjs-utils
  nestjs-config:
    paths:
      - projects/node/libs/nestjs-config
  nestjs-logger:
    paths:
      - projects/node/libs/nestjs-logger
  nestjs-sqlite3:
    paths:
      - projects/node/libs/nestjs-sqlite3

# To see status checks based on flags
coverage:
  status:
    project:
      nestjs-utils:
        flags:
          - nestjs-utils
      nestjs-config:
        flags:
          - nestjs-config
      nestjs-logger:
        flags:
          - nestjs-logger
      nestjs-sqlite3:
        flags:
          - nestjs-sqlite3

github action
  .github/workflows/build.yml
  .travis.yml
  build/ci_build_install
Due: none

github action
  README.md
Due: none

version bummp nestjs-* modules
  build/ts/utils/file.ts
  projects/node/libs/nestjs-config/CHANGELOG.md
  projects/node/libs/nestjs-config/package.json
  projects/node/libs/nestjs-logger/CHANGELOG.md
  projects/node/libs/nestjs-logger/package.json
  projects/node/libs/nestjs-sqlite3/CHANGELOG.md
  projects/node/libs/nestjs-sqlite3/package.json
  projects/node/libs/nestjs-utils/CHANGELOG.md
  projects/node/libs/nestjs-utils/package.json
  workspace.json
Due: nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

build: upgrade nx 14 and ng 14
  .npmrc
  jest.config.ts
  jest.preset.js
  nx.json
  package-lock.json
  package.json
  projects/node/apps/hot-cli/jest.config.ts
  projects/node/apps/hot-cli/tsconfig.app.json
  projects/node/apps/hot-cli/tsconfig.spec.json
  projects/node/apps/hot-gateway/jest.config.ts
  projects/node/apps/hot-gateway/tsconfig.app.json
  projects/node/apps/hot-gateway/tsconfig.spec.json
  projects/node/libs/hot-server/jest.config.ts
  projects/node/libs/hot-server/tsconfig.lib.json
  projects/node/libs/hot-server/tsconfig.spec.json
  projects/node/libs/nestjs-config/jest.config.ts
  projects/node/libs/nestjs-config/tsconfig.lib.json
  projects/node/libs/nestjs-config/tsconfig.spec.json
  projects/node/libs/nestjs-logger/jest.config.ts
  projects/node/libs/nestjs-logger/tsconfig.lib.json
  projects/node/libs/nestjs-logger/tsconfig.spec.json
  projects/node/libs/nestjs-sqlite3/jest.config.ts
  projects/node/libs/nestjs-sqlite3/tsconfig.lib.json
  projects/node/libs/nestjs-sqlite3/tsconfig.spec.json
  projects/node/libs/nestjs-utils/jest.config.ts
  projects/node/libs/nestjs-utils/tsconfig.lib.json
  projects/node/libs/nestjs-utils/tsconfig.spec.json
  workspace.json
Due: nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

build: package upgrade
  package-lock.json
  package.json
Due: none

build: badges
  README.md
  projects/node/libs/nestjs-config/README.md
  projects/node/libs/nestjs-logger/README.md
  projects/node/libs/nestjs-sqlite3/README.md
  projects/node/libs/nestjs-utils/README.md
Due: nestjs-utils, nestjs-config, nestjs-logger, nestjs-sqlite3

build: settings
  ISSUES.md
  package.json
  tsconfig.base.json
Due: none

nestjs-sqlite3: test connection context
  projects/node/libs/nestjs-sqlite3/jest.config.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/connection-manager.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/connection-manager.ts
  projects/node/libs/nestjs-sqlite3/src/lib/service/repository.spec.ts
  projects/node/libs/nestjs-sqlite3/src/lib/test/integration/repository.spec.ts
Due: nestjs-sqlite3

nestjs-config: version-bump 1.0.6
  projects/node/libs/nestjs-config/CHANGELOG.md
  projects/node/libs/nestjs-config/package.json
Due: nestjs-config

nestjs-logger: version-bump 1.0.6
  projects/node/libs/nestjs-logger/CHANGELOG.md
  projects/node/libs/nestjs-logger/package.json
Due: nestjs-logger

nestjs-utils: version-bump 1.0.6
  projects/node/libs/nestjs-utils/CHANGELOG.md
  projects/node/libs/nestjs-utils/package.json
Due: nestjs-utils

nestjs-sqlite3: version-bump 1.0.5
  projects/node/libs/nestjs-sqlite3/CHANGELOG.md
  projects/node/libs/nestjs-sqlite3/README.md
  projects/node/libs/nestjs-sqlite3/package.json
Due: nestjs-sqlite3

hot-server: authentication
  projects/node/libs/hot-server/src/lib/authentication/authentication.module.ts
  projects/node/libs/hot-server/src/lib/authentication/authentication.service.ts
  projects/node/libs/hot-server/src/lib/authentication/local.serializer.ts
  projects/node/libs/hot-server/src/lib/model/index.ts
  projects/node/libs/hot-server/src/lib/server/model/server.constants.ts
  projects/node/libs/hot-server/src/lib/server/server.module.ts
  projects/node/libs/hot-server/src/lib/user/user-ssession.service.ts
  projects/node/libs/hot-server/src/lib/user/user.service.ts
Due: none

build: remove deprecated codecov uploader
  .github/workflows/build.yml
  build/ci_build_install
  package-lock.json
  package.json
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package.json
Due: none

fix: package.json to reduce vulnerabilities
  package.json
Due: none

refactoring part2
  package-lock.json
Due: none

refactoring part2
  .github/workflows/build.yml
Due: none

added LICENSE in root folder
  LICENSE
Due: none

fixed sqlite3orm coverage upload
  .github/workflows/build.yml
Due: none

fixed coverage badge links
  packages/js/jsonpointerx/README.md
  packages/node/@homeofthings/nestjs-config/README.md
  packages/node/@homeofthings/nestjs-logger/README.md
  packages/node/@homeofthings/nestjs-sqlite3/README.md
  packages/node/@homeofthings/nestjs-utils/README.md
  packages/node/asyncctx/README.md
  packages/node/sqlite3orm/README.md
Due: none

fixed coverage badge links
  packages/node/asyncctx/README.md
Due: none

build: run-script for publishing
  README.md
  build/merge-coverage.ts
  build/prepare-publish.ts
  build/publish.ts
  build/ts/utils/app.ts
  build/ts/utils/file.ts
  build/ts/utils/fs.ts
  build/ts/utils/glob.ts
  build/ts/utils/process.ts
  build/ts/utils/string.ts
  package.json
  packages/node/@homeofthings/hot-cli/package.json
  packages/node/@homeofthings/node-cli/package.json
  packages/node/@homeofthings/node-shell/package.json
  tools/scripts/publish.mjs
Due: none

build: benchmark for jsonpointerx
  .github/workflows/build.yml
  packages/js/jsonpointerx/README.md
  packages/node/@homeofthings/node-cli/src/index.ts
  tools/benchmarks/jsonpointerx/package-lock.json
  tools/benchmarks/jsonpointerx/package.json
  tools/benchmarks/jsonpointerx/src/jp-bench.ts
  tools/benchmarks/jsonpointerx/tsconfig.json
Due: none

build: benchmark for jsonpointerx
  .github/workflows/build.yml
  tools/benchmarks/jsonpointerx/src/jp-bench.ts
Due: none

build: make sure LICENSE and README.md are included in published packages
  build/publish.ts
  build/ts/utils/fs.ts
  packages/node/@homeofthings/hot-cli/LICENSE
  packages/node/@homeofthings/hot-cli/README.md
  packages/node/@homeofthings/hot-cli/project.json
  packages/node/@homeofthings/hot-gateway/LICENSE
  packages/node/@homeofthings/hot-gateway/README.md
  packages/node/@homeofthings/hot-gateway/project.json
  packages/node/@homeofthings/hot-server/LICENSE
  packages/node/@homeofthings/hot-server/project.json
  packages/node/@homeofthings/nestjs-config/LICENSE
  packages/node/@homeofthings/nestjs-config/project.json
  packages/node/@homeofthings/nestjs-logger/LICENSE
  packages/node/@homeofthings/nestjs-logger/project.json
  packages/node/@homeofthings/nestjs-sqlite3/LICENSE
  packages/node/@homeofthings/nestjs-sqlite3/project.json
  packages/node/@homeofthings/nestjs-utils/LICENSE
  packages/node/@homeofthings/nestjs-utils/project.json
  packages/node/@homeofthings/node-cli/LICENSE
  packages/node/@homeofthings/node-cli/project.json
  packages/node/@homeofthings/node-shell/LICENSE
  packages/node/@homeofthings/node-shell/project.json
  packages/node/asyncctx/project.json
  packages/node/sqlite3orm/project.json
Due: none

version bump for all published packages
  package.json
  packages/js/jsonpointerx/CHANGELOG.md
  packages/js/jsonpointerx/package.json
  packages/node/@homeofthings/nestjs-config/CHANGELOG.md
  packages/node/@homeofthings/nestjs-config/package.json
  packages/node/@homeofthings/nestjs-logger/CHANGELOG.md
  packages/node/@homeofthings/nestjs-logger/package.json
  packages/node/@homeofthings/nestjs-sqlite3/CHANGELOG.md
  packages/node/@homeofthings/nestjs-sqlite3/package.json
  packages/node/@homeofthings/nestjs-utils/CHANGELOG.md
  packages/node/@homeofthings/nestjs-utils/package.json
  packages/node/asyncctx/README.md
  packages/node/asyncctx/package.json
  packages/node/sqlite3orm/CHANGELOG.md
  packages/node/sqlite3orm/package.json
Due: none

build: run-script for publishing
  build/publish.ts
Due: none

doc: added snyk badge
  README.md
  TODO.md
  packages/js/jsonpointerx/README.md
  packages/node/@homeofthings/nestjs-config/README.md
  packages/node/@homeofthings/nestjs-logger/README.md
  packages/node/@homeofthings/nestjs-sqlite3/README.md
  packages/node/@homeofthings/nestjs-utils/README.md
  packages/node/asyncctx/README.md
  packages/node/sqlite3orm/README.md
Due: none

fixed deepscan issues
  TODO.md
  packages/node/@homeofthings/node-shell/src/lib/process/spawn.ts
  packages/node/asyncctx/src/lib/ContinuationLocalStorage.ts
  packages/node/sqlite3orm/src/lib/core/SqlBackup.ts
  packages/node/sqlite3orm/src/lib/spec/BaseDAO.spec.ts
Due: none

node-sys
  .npm-upgrade.json
  docs/README.md
  package-lock.json
  package.json
  packages/node/@homeofthings/node-cli/package.json
  packages/node/@homeofthings/node-cli/src/index.ts
  packages/node/@homeofthings/node-shell/README.md
  packages/node/@homeofthings/node-shell/package.json
  packages/node/@homeofthings/node-shell/project.json
  packages/node/@homeofthings/node-shell/src/lib/shell.spec.ts
  packages/node/@homeofthings/node-shell/src/lib/shell/index.ts
  packages/node/@homeofthings/node-sys/.eslintrc.json
  packages/node/@homeofthings/node-sys/LICENSE
  packages/node/@homeofthings/node-sys/README.md
  packages/node/@homeofthings/node-sys/jest.config.ts
  packages/node/@homeofthings/node-sys/package.json
  packages/node/@homeofthings/node-sys/project.json
  packages/node/@homeofthings/node-sys/src/index.ts
  packages/node/@homeofthings/node-sys/src/lib/fs/index.spec.ts
  packages/node/@homeofthings/node-sys/src/lib/fs/index.ts
  packages/node/@homeofthings/node-sys/src/lib/log/index.ts
  packages/node/@homeofthings/node-sys/src/lib/process/error.ts
  packages/node/@homeofthings/node-sys/src/lib/process/index.ts
  packages/node/@homeofthings/node-sys/src/lib/process/options.ts
  packages/node/@homeofthings/node-sys/src/lib/process/params.ts
  packages/node/@homeofthings/node-sys/src/lib/process/pipe.ts
  packages/node/@homeofthings/node-sys/src/lib/process/spawn.ts
  packages/node/@homeofthings/node-sys/src/lib/util/index.ts
  packages/node/@homeofthings/node-sys/src/lib/util/quote.ts
  packages/node/@homeofthings/node-sys/src/lib/util/sequentialize.ts
  packages/node/@homeofthings/node-sys/src/lib/util/stream-strings.ts
  packages/node/@homeofthings/node-sys/src/lib/util/stream.ts
  packages/node/@homeofthings/node-sys/src/lib/util/types/common.ts
  packages/node/@homeofthings/node-sys/src/lib/util/types/index.ts
  packages/node/@homeofthings/node-sys/src/lib/util/types/is.ts
  packages/node/@homeofthings/node-sys/src/lib/util/wait.ts
  packages/node/@homeofthings/node-sys/tsconfig.json
  packages/node/@homeofthings/node-sys/tsconfig.lib.json
  packages/node/@homeofthings/node-sys/tsconfig.spec.json
  tsconfig.base.json
Due: none

.npmrc
  .npmrc
Due: none

node-sys: mkdir with mode test
  packages/node/@homeofthings/node-sys/src/lib/fs/index.spec.ts
Due: none

fixed jest coverage config
  jest.preset.js
  package.json
Due: none

build: using nx:run-command for publishing provided by build project
  build/project.json
  build/src/publish.ts
  build/src/validate-projects.ts
  package.json
  packages/js/jsonpointerx/project.json
  packages/node/@homeofthings/hot-cli/project.json
  packages/node/@homeofthings/hot-gateway/project.json
  packages/node/@homeofthings/hot-server/project.json
  packages/node/@homeofthings/nestjs-config/project.json
  packages/node/@homeofthings/nestjs-logger/project.json
  packages/node/@homeofthings/nestjs-sqlite3/project.json
  packages/node/@homeofthings/nestjs-utils/project.json
  packages/node/@homeofthings/node-sys/project.json
  packages/node/asyncctx/project.json
  packages/node/sqlite3orm/project.json
Due: none
